<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

<div class="container">
    <div class="col-md-12">

        <h1>Thermodynamics, Computation and Irreversibility</h1>


        <p>This post is about the fundamental link between thermodynamics and computations. This is not on the practical level, about the heat dissipation of circuitry - though of course that is a very important concern when building computer compontents. This is about a fundamental and unavoidable mathematical link between the very concept of computation and our understanding of thermodynamics. </p>

        <p>There is a profound difference between how the real world behaves, and how computers simulate processes. This was identified in <a href="http://www.cs.berkeley.edu/~christos/classics/Feynman.pdf">a keynote speech in 1981 by Richard Feynman</a>, making one simple observation:</p>

        <blockquote>
            <p>Physics is reversible, but a classical computer is irreversible</p>
            <footer>Richard Feynmann</footer>
        </blockquote>

        <p>A process is physically reversible if the initial state can be recovered from the initial state without changing the system. That is so say, if there is no preferred <i>arrow of time</i>. This is a concept introduced by Arthur Eddington, an astronomer and mathemat </p>
        
        <div lang="latex">
            \frac{1+sin(x)}{y}
        </div>

    </div>
</div>
