<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

<div class="container">
    <div class="col-md-12">

        <h1>Thermodynamics, Computation and Irreversibility</h1>


        <p>This post is about the fundamental link between thermodynamics and computations. This is not on the practical level, about the heat dissipation of circuitry - though of course that is a very important concern when building computer compontents. This is about a fundamental and unavoidable mathematical link between the very concept of computation and our understanding of thermodynamics. </p>

        <p>There is a profound difference between how the real world behaves, and how computers simulate processes. This was identified in <a href="http://www.cs.berkeley.edu/~christos/classics/Feynman.pdf">a keynote speech in 1981 by Richard Feynman</a>, making one simple observation:</p>

        <blockquote>
            <p>Physics is reversible, but a classical computer is irreversible</p>
            <footer>Richard Feynmann</footer>
        </blockquote>

        <p>
            A process is physically reversible if the initial state can be recovered from the initial state without changing the system.
            That is so say, if there is no preferred <i>arrow of time</i>.
        </p>
        <p>
            This is a concept introduced by Arthur Eddington, an astronomer and mathematician. Eddington was also a Quaker, and declared himself a pacifist during World War 1. His religious beliefs were expressed in his writings on the philosophy of science in his work <a href="https://archive.org/details/scienceunseenwor00eddi">Science and the unseen world</a>, published 1929. Eddington wrote that the unseen world could not be discovered from science alone but must also be sought through the understanding of spiritual reality.
        </p>
        <p>The arrow of time is itself a philosophical concept as much as it is a mathematical one.</p>
        <p>Consider the dynamics of a collection of <em>j</em> particles with mass <em>m</em> governed by Newtonian equations of motion</p>
        <div lang="latex">
            m\frac{d^2}{dt^2}q_{j}(t) = F_{j}(q_{1}(t),...,q_{N}(t))
        </div>
        <br />
        <p>This equation is <em>invariant</em> under a time reversal. If we substitute <em>t</em> for <em>-t</em>, this equation remains the same.  </p>
        <p>If we were to use a very tiny video recorder to record the motion of these particles and then play it back, we would have no idea whether the video was being played forward or in reverse. There is no experiment we could do or calculation we could perform to deduce the arrow of time from the video recording of the motions of these particles. </p>
        <p>However, let's now consider the case of an expanding gas. At the microscopic level, the motion of the atoms of this gas satisfies the equation above. However, if we were to zoom out and film the expanding gas it would be obvious whether the video recording were being played forwards or backwards. When being played forwards, we see the gas expanding. When being played backwards, it would appear the gas is spontaneously condensing. </p>
        <p>The physical properties of low density gases were described by Ludwig Boltzmann, Austrian physicist and philosopher. Boltzmann developed his theory of gases on the assumption that matter was made of atoms and molecules, a theory that was heavily disputed at the end of the 19th century and dismissed by German philosophers such as Mach and Ostwald. Boltzmann managed to develop a model that would satisfy both camps, discussing atoms as 'models' of reality that the anti-atomists could consider as a useful - though unrealistic - mathematical fabrication. A similar discussion would arise a century later over the concept of Feynmann diagrams, outlining the interactions of subatomic particles. </p>
        <p>Bolztmann introduced the distribution function <span lang="latex">f(\vec{r},\vec{v},t)</span> to count the number of molecules within the volume element <span lang="latex">d^3r</span> at a position <span lang="latex">\vec{r}</span> and the velocity volume element <span lang="latex">d^3v</span> at <span lang="latex">\vec{v}</span> at a time <em>t</em>. This gives us the <em>Bolztmann equation</em> </p>
        <div lang="latex">
            \frac{d}{dt}f(t) = -\vec{v} \cdot \Delta_{r}f(t) + Q(f(t),f(t))
        </div>
        <br />
        <p>The first term in this equation describes the free motion of particles, while the second term describes the binary collisions between pairs of particles. </p>
        <p>In this equation, if we substitute <em>t</em> for <em>-t</em>, the equation does <strong>not</strong> remain unchanged. As we also have to change the sign of the velocity <span class="latex">v</span>, the second term ends up with a negative sign.</p>
        <p>This is our first indication of an irreversible process arising entirely out of reversible fundamental physics</p>
        
        <h3>The Excorcism of Maxwell's Demon</h3>
        <p>This concept of irreversibility is inseparable from the Second Law of Thermodynamics, which may well be the only fundamental law of physics that exhibits an intrinsic arrow of time. Historically, this law has been stated in many different but equivalent ways, combining heat and work to the conceptual meaning of time. The variable entropy was introduced to quantify this relation. </p>
        <p>One statement of the Second Law of Thermodynamics is it is never possible for a cyclic process to convert heat entirely into work, so that in a closed system the overall entropy must always increase.</p>
        <p>The possibility of violating this law is encapsulated by Maxwell's Demon thought experiment. This formulation shows how thermodynamic irreversibility is linked to the act of measurement and introduces the link between entropy and information.</p>
        <img src="../../Content/images/slizardbennet.jpg" alt="" />
    </div>
</div>
