@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-title post-title-menger">
    <div class="post-title-text">
        <h1>Fractal Chaos</h1>
    </div>
</div>


<div class="container">
 
</div>
