<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

<div class="post-title">    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img class="img-responsive" src="~/Images/LorenzAttractor-cover-trans.png"/> 
                <h1>POV-Ray animation of Lorenz Attractor</h1>
            </div>
        </div>
    </div>
   
</div>

<div class="container">  
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>
                Edward Lorenz was an American mathematician and pioneer of chaos theory.
                Lorenz built mathematical models of the motion of air in the atmosphere.
                </p><p>
                His original model involved a set of 12 nonlinear differential equations and discovered complex
                movements that were highly dependent upon the initial conditions of the system.
                He then looked for complex behaviour in simpler models.
                He built a simple model of a gas in a solid rectangular box with a heat source at the bottom.
            </p>

            <p>
                The Lorenz attractor is a simplified model of convection of a gas within a confined space. This very simple model results in some very interesting motion, an example of deterministic chaos. A chaotic system is very sensitive to initial conditions and the system rapidly diverges.                
            </p>
            <p>The system is described by three coupled non-linear differential equations:</p>

            <div lang="latex">
                \frac{dx}{dt} = a (y - x)
            </div>
            \frac{dy}{dt} = x (b - z) - y
            \frac{dz}{dt} = xy - cz
        </div>
    </div>
</div>