@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="post-title post-title-menger">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h1>POV-Ray animation of Menger Sponge</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>
                Karl Menger was an Austrian-American mathematician working on the algebra of geometries, curve and dimension theory.
                Menger was born in Vienna in 1902 to economist Carl Menger and novelist Hermione Andermann.
                His father, Carl Menger, was a founder of the Austrian school of economic thought and developed the theory of marginalism.
            </p>
            <p>
                In 1920, Karl Menger enrolled at the University of Vienna to study Physics. After only a few months, he switched to mathematics and attended a pivotal lecture by Hans Hahn. 
                Hahn lectured on a problem of defining the concept of a curve, at the time considered unsolvable. 
            </p>
            <p>
                Part-way through his studies, in 1921 Menger was diagnosed with tuberculosis and sent to a sanitorium in Aflenz. While he was confined in Aflenz, both his father and mother passed away. 
                When Karl returned to University, he had developed a full theory of curves and earned his doctorate with Hahn. 
            </p>

            https://en.wikipedia.org/wiki/Karl_Menger#Contributions_to_mathematics

            https://books.google.co.uk/books?id=oakkBgAAQBAJ&pg=PA7&lpg=PA7&dq=Hermione+Andermann&source=bl&ots=cYEHFVypZ5&sig=UTt9YR1Qmz3gNXPbHbhner_89Nw&hl=en&sa=X&ved=0CDIQ6AEwBWoVChMIwfaG1a-OyAIVhlwUCh3wygAQ#v=onepage&q=Hermione%20Andermann&f=false
        
        
            https://science.iit.edu/applied-mathematics/about/about-karl-menger
        
        </div>
    </div>
</div>
