@{
    Layout = "_LayoutBlank";
}


@section Scripts
{
    <script src="/lib/d3/dist/d3.js"></script>
    <script src="/words/wordsGeneral.js"></script>

    <script src="/words/searchWordsv2.js"></script>
    <link rel="stylesheet" href="/words/word-styles.css"/>


    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
}


@section Content
{
    @Html.Partial("Words/WordsSearchControl")
    <div style="min-height: 90vh">
        @Html.Partial("Words/WordSearchPartial")
    </div>
}