@using Microsoft.AspNetCore.Mvc.Localization
@{
@inject IViewLocalizer Localizer;
    }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Core</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/home.css"/>
    @await RenderSectionAsync("Styles", required: false)
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'/>
</head>
<body style="background: #000000;">


<main role="main" class="pb-3">
    @RenderSection("Content", required: true)
</main>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>