@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using System.Globalization
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<div>


    <form id="toggleLanguage" asp-controller="Home" asp-action="ToggleLanguage" asp-route-returnUrl="@returnUrl" method="post" class="form-horizontal" role="form">
        <button type="submit" class="btn">


            @if (CultureInfo.CurrentCulture.Name == "en-GB")
            {
                <img src="/images/home/langtoggle-gb2.png" height="30" width="30">
            }
            else
            {
                <img src="/images/home/langtoggle-no2.png" height="30" width="30">
            }
        </button>


    </form>
</div>