@section Jumbo
{
    <div class="parallax parallax-about">
        <div class="parallax-title">
            <span>
                About me
            </span>
        </div>
    </div>
}

@section Content
{
    <div class="container-fluid p-5 text-light">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col">
                <!-- About page content -->
                <div class="row">
                    <div class="col-md-8">
                        <p>My first paid web project was in 1999 at the age of 12, when I developed the public-facing website for my secondary school. That site has, fortunately, been long-since deprecated! The web has changed dramatically since then, as have all the tools and technologies that build it. </p>
                        <p>I have been working with the .NET stack for about 8 years, with professional experience in both front-end and back-end development.</p>

                        <p>For my personal projects, I'm particularly interested in visual representations of mathematical systems. I've written a lot of code for rendering simulations of chaotic systems and fractal structures.</p>
                    </div>

                    <div class="col-md-4">
                        <figure class="figure">
                            <img class="figure-img img-fluid img-thumbnail" src="/images/about/littlemort.png" alt="My interest in computers started early">
                            <figcaption class="figure-caption">My interest in computers started early</figcaption>
                        </figure>

                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <h3 id="list-item-1">Back-end</h3>
                        <p>
                            I have typically been working with <strong>ASP.NET MVC 5</strong> with <strong>Entity Framework</strong> and <strong>SQL Server</strong> and <strong>Azure</strong>. I especially enjoy working with <strong>SignalR</strong> to allow of seamless client-server communications.
                            More recently, I have been working a lot more with <strong>ASP.NET Core 5.0</strong>, <strong>Dynamics CRM</strong> and <strong>FetchXml</strong>.
                        </p>

                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h3>Front-end</h3>
                        <p>
                            Throughout the years, I have touched upon so many Javascript libraries and frameworks. I started writing just plain <strong>JQuery</strong> and <strong>CSS</strong>, then started making single-page applications with <strong>Knockout.js</strong> and <strong>Bootstrap</strong>. I absolutely loved the two-way data-binding, allowing for dynamic pages to be built really easily. From then, I moved on to <strong>Angular</strong> to build much bigger and more versatile applications with complex components. I also have experience with <strong>React</strong>.
                        </p>
                        <p>
                            I especially love <strong>d3.js</strong> for interactive data visualisation. This framework is incredibly powerful, though a little complicated to set up correctly. But once working, it can do a wide variety of stunning visualisations and data manipulations.
                        </p>


                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h3>Tools</h3>
                        <p>
                        I enjoy working with the latest technologies, for development and design.

                        My IDE of choice is <strong>JetBrains Rider</strong>, though I have used Visual Studio 2012 through to 2019 (with Resharper). I use <strong>Fork</strong> for as my desktop Git client.

                        For design, I have experience using

                        <ul>
                            <li>Adobe Photoshop</li>
                            <li>Adobe Illustrator</li>
                            <li>Adobe InDesign</li>
                            <li>Adobe Premier Pro</li>
                            <li>LaTeX</li>
                            <li>POV-Ray</li>
                            <li>Blender</li>
                        </ul>

                    </div>

                </div>

                <!-- About page content end -->

            </div>
        </div>

    </div>


    <div class="container-fluid p-5 text-light ma-section-lighter" id="Education">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col">
                <h3>Education</h3>

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>University of Manchester</strong>
                        <br>
                        <p>September 2009 - September 2013</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <strong>PhD in Nanoscience</strong>
                        <br>
                        <a href="https://www.research.manchester.ac.uk/portal/en/theses/towards-quantum-information-processing-with-cr3-based-heterometallic-clusters(6ff7e303-ca75-4632-986d-48bea42d96e3).html">
                            <em>Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters</em>
                        </a>

                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col">
                                <figure class="figure">
                                    <img class="figure-img img-fluid img-thumbnail" src="/images/about/dimerschematic.png" alt="Schematic of heterometallic dimer">
                                    <figcaption class="figure-caption">Schematic of heterometallic dimer</figcaption>
                                </figure>

                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>
                                    I have always had a keen interest in the future of computing at its most fundamental level. As computers become ever-smaller, the powerful our techology becomes. However, there is a fundamental limit to miniaturization - the limits of matter itself. At this limit, we must start to exploit quantum mechanics to perform computations.
                                </p>
                                <p>
                                    During my PhD in the School of Chemistry, I had the opportunity to explore the magnetic properties of a series of large molecules and ascertain their potential applications for quantum computing. I performed spectroscopic studies on a series of compounds, ran detailed simulations to understand the relative magnetic properties of them, and was also involved in a project to build a custom cryostat to investigate such compounds at temperature scales below 1 Kelvin.
                                </p>

                                <strong>Publications:</strong>
                                <br>
                                <ul>

                                    <li>
                                        <a href="https://www.research.manchester.ac.uk/portal/en/theses/towards-quantum-information-processing-with-cr3-based-heterometallic-clusters(6ff7e303-ca75-4632-986d-48bea42d96e3).html">
                                            Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters
                                        </a>

                                    </li>
                                    <li>
                                        <a href="http://pubs.acs.org/doi/abs/10.1021/ja5047445">A Detailed Study of the Magnetism of Chiral {Cr7M} Rings: An Investigation into Parametrization and Transferability of Parameters</a>
                                    </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>University of Lancaster</strong>
                        <br>
                        <p>September 2009 - September 2013</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <strong>MPhys, Theoretical Physics</strong>
                        <br>

                        <em>Upper Second-Class Honours (2:1)</em>
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col">
                                <figure class="figure">
                                    <img class="figure-img img-fluid img-thumbnail" src="/images/about/quantum_braids.jpg" alt="Braiding non-abelian anyons">
                                    <figcaption class="figure-caption">Braiding non-abelian anyons</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>I have always had a keen interest in the mathematical underpinnings of reality, and so I was keen to study Theoretical Physics at Lancaster University. </p>
                                <p>My masters project involved studying the braiding statistics of Abrikosov vortices in the 5/2 fractional quantum Hall effect as non-abelian anyons for fault-tolerant qubits in topological quantum computers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->
            </div>
        
            <div class="col-md-1"></div>
            </div>
    </div>

    <div class="container-fluid p-5 text-light" id="Employment">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col">
                <h3 id="list-item-3">Employment</h3>

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>Royal Institute of Chartered Surveyors</strong>
                        <br>
                        <p>
                            Full-Stack .NET Developer
                        </p>
                        <p>
                            April 2018 - Present
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">

                        <div class="row">
                            <div class="col">
                                <p>
                                    The Royal Institution of Chartered Surveyors (RICS) is a professional body that promotes and enforces international standards in development, management, and valuation of land, construction and infrastructure. RICS effects positive change in the built and natural environments.
                                </p>
                                <p>
                                    My work at RICS has touched upon a vast array of different projects, from supporting vital legacy systems to building new applications and procedures.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->


                <div class="row">
                    <div class="col">
                        <strong>Electrika</strong>
                        <br>
                        <p>.NET Developer</p>
                        <p>December 2013 - April 2018</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

}