@section Jumbo
{
    <div class="parallax parallax-about">
        <div class="parallax-title">
            <span>
                About me
            </span>
        </div>
    </div>
}

@section Content
{
    <div class="text-light">
        
        <div class="container">
            <div class="row">
                
            
                <div class="col-md-8">
                    <p>My first paid web project was in 1999 at the age of 12, when I developed the public-facing website for my secondary school. That site has, fortunately, been long-since deprecated! The web has changed dramatically since then, as have all the tools and technologies that build it. </p>
                    <p>I have been working with the .NET stack for about 8 years, with professional experience in both front-end and back-end development.</p>

                </div>
                
                <div class="col-md-4">
                    <figure class="figure">
                        <img class="figure-img img-fluid img-thumbnail" src="/images/about/littlemort.png" alt="My interest in computers started early">
                        <figcaption class="figure-caption">My interest in computers started early</figcaption>
                    </figure>
                    
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    
                    <h3>Back-end</h3>
                    <p>
                        I have typically been working with <strong>ASP.NET MVC 5</strong> with <strong>Entity Framework</strong> and <strong>SQL Server</strong> and <strong>Azure</strong>. I especially enjoy working with <strong>SignalR</strong> to allow of seamless client-server communications.
                        More recently, I have been working a lot more with <strong>ASP.NET Core 5.0</strong>, <strong>Dynamics CRM</strong> and <strong>FetchXml</strong>.
                    </p>
                    
                </div>
                
            </div>
            
            <div class="row">
                <div class="col">
                    <h3>Front-end</h3>
                    <p>
                        Throughout the years, I have touched upon so many Javascript libraries and frameworks. I started writing just plain <strong>JQuery</strong> and <strong>CSS</strong>, then started making single-page applications with <strong>Knockout.js</strong> and <strong>Bootstrap</strong>. I absolutely loved the two-way data-binding, allowing for dynamic pages to be built really easily. From then, I moved on to <strong>Angular</strong> to build much bigger and more versatile applications with complex components. I also have experience with <strong>React</strong>.
                    </p>
                    <p>
                        I especially love <strong>d3.js</strong> for interactive data visualisation. This framework is incredibly powerful, though a little complicated to set up correctly. But once working, it can do a wide variety of stunning visualisations and data manipulations.
                    </p>
                    
                    
                </div>
                
            </div>
            
            <div class="row">
                
                <div class="col">
            <h3>Tools</h3>
        <p>
            I enjoy working with the latest technologies, for development and design.

            My IDE of choice is <strong>JetBrains Rider</strong>, though I have used Visual Studio 2012 through to 2019 (with Resharper).

            For design, I have experience using

            <ul>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Adobe InDesign</li>
                <li>Adobe Premier Pro</li>
                <li>LaTeX</li>
                <li>POV-Ray</li>
                <li>Blender</li>
            </ul>
                    
                </div>
                
            </div>


            

    </div>
</div>
}