
@section Content
{ 
    <div class="container-fluid p-5 text-light">
        <div class="row">
            <div class="col">
                <p>You can contact me about anything you're interested in at mortenalbring at gmail.com </p>        
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>You can check out my YouTube channel with a collection of simulations
                
                    <a href="https://www.youtube.com/channel/UCSBTzJEMrIAr5BUXF0P8GcQ">here</a>
                </p>
            </div>
        </div>
        
        
    </div>

}