@section Jumbo
{
    <div class="parallax parallax-contact">
        <div class="lingrad-gg">

        </div>
    </div>
}

@section Content
{
    <div class="container-fluid p-5 text-light">
        <div class="row p-5">
            <div class="col">
                <p>You can contact me about anything you're interested in at mortenalbring at gmail.com </p>
                <p>Find me on <a target="_blank" href="https://www.linkedin.com/in/morten-albring-78738052/?originalSubdomain=uk">LinkedIn</a> and check out my <a href="https://github.com/mortenalbring/">GitHub</a></p>
            </div>
        </div>

        <div class="row p-5">
            <div class="col">

                <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLf5XkPT_UDJtzXou7H_XIrNKktMGB52Lk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <p>
                    If you're interested in mathematical simulations, you can check out my YouTube channel with a collection of simulations

                    <a href="https://www.youtube.com/channel/UCSBTzJEMrIAr5BUXF0P8GcQ">here</a>
                </p>
            </div>
        </div>


    </div>

}