@{
    ViewData["Title"] = "Morten Albring - Personal Homepage";
}

<div class="text-center">
    <h1 class="display-4">Morten Alexander Albring</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">
            Morten Alexander Albring    
            </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            A
        </div>
        <div class="col-sm">
            B
        </div>

        </div>
</div>