@using Microsoft.AspNetCore.Mvc.Localization
@using Core.Controllers
@{
    ViewData["Title"] = "Morten Albring - Personal Homepage";
    
@inject IViewLocalizer Localizer

    }

<div class="text-center">
    <h1 class="display-4 text-light">Morten Alexander Albring</h1>
</div>

<div class="container ">
    <div class="row">
        <div class="col-sm">
            A
        </div>
        <div class="col-sm text-secondary">
            <p>@Localizer["test"]</p>
            <p>Hello! I'm Morten. I'm a software developer with a passion for data visualisation. I have a keen interest in the latest developments in web frameworks and building powerful web applications. </p>
            <p>I have a background in Theoretical Physics and I have a particular interest in Quantum Computing.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm">
            <div class="ma-img-container">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="images/home/cover-fractalchaos.png" class="img-fluid" alt="Fractal Chaos">
                    <div class="ma-overlay">
                        <span>
                            <strong>Fractal Chaos</strong>
                            <br/>
                            <p class="d-none d-xl-block d-lg-block">
                                The chaos game is a game of very simple rules that produces remarkable fractal structures. This post explores a variety of different structures and the code used to generate them.
                            </p>
                            <p class="d-xl-none d-lg-none">
                                Rendering fractal structures using the chaos game
                            </p>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="ma-img-container">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="images/home/cover-menger.png" class="img-fluid" alt="Menger Sponge">
                    <div class="ma-overlay">
                        <span>
                            <strong>Menger Sponge</strong> <br/>
                            The Menger sponge is a three-dimensional fractal curve that exhibits infinite surface area and zero volume. This shows the POV-Ray code to render this mathematical structure
                        </span>

                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="ma-img-container">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="images/home/cover-tsucs.png" class="img-fluid" alt="Three Scroll Unified Chaotic System">
                    <div class="ma-overlay">
                        <span>
                            <strong>Three-Scroll Unified Chaotic System</strong> <br/>
                            The Three-Scroll Unified Chaotic System is a chaotic system that contains both a Lorenz-style attractor and also a Lu Chen-style attractor at its extremes.
                        </span>

                    </div>
                </a>
            </div>
        </div>

    </div>
</div>