@model HomeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Morten Albring - Personal Homepage";

@inject IViewLocalizer Localizer
    }

@section Content
{
    <div class="text-center">
        <h1 class="display-3 text-light ma-title">Morten Alexander Albring</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="images/home/mortcoverface.png" class="img-fluid">
            </div>
            <div class="col-sm text-secondary">
                <p class="ma-blurb">@Localizer["IntroPart1"]</p>
                <p class="ma-blurb">@Localizer["IntroPart2"]</p>

                <p class="ma-blurb">@Model.BlurbText1</p>
            </div>
        </div>

    </div>
    <div class="container-fluid p-5">


        <div class="row p-3">
            <div class="col-sm-6 col-md-4">
                <div class="ma-img-container d-flex justify-content-center">
                    <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="FractalChaos">
                        @{ await Html.RenderPartialAsync("PostInfoBox", new PostInfoBox()
                           {
                               Title = Localizer[nameof(Core.Resources.Views.Home.Index.FractalChaos)],
                               CoverImagePath = "images/home/cover-fractalchaos.png",
                               TextLong = Localizer[nameof(Core.Resources.Views.Home.Index.FractalChaosTextLong)],
                               TextShort = Localizer[nameof(Core.Resources.Views.Home.Index.FractalChaosTextLong)]
                           }); }
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="ma-img-container d-flex justify-content-center">
                    <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="MengerSponge">
                        @{ await Html.RenderPartialAsync("PostInfoBox", new PostInfoBox()
                           {
                               Title = Localizer[nameof(Core.Resources.Views.Home.Index.Menger)],
                               CoverImagePath = "images/home/cover-menger.png",
                               TextLong = Localizer[nameof(Core.Resources.Views.Home.Index.MengerTextLong)],
                               TextShort = Localizer[nameof(Core.Resources.Views.Home.Index.MengerTextShort)]
                           }); }
                    </a>
                </div>
            </div>

            <div class="col-sm">
                <div class="ma-img-container d-flex justify-content-center">
                    <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="TSUCS">
                        @{ await Html.RenderPartialAsync("PostInfoBox", new PostInfoBox()
                           {
                               Title = Localizer[nameof(Core.Resources.Views.Home.Index.TSUCS)],
                               CoverImagePath = "images/home/cover-tsucs.png",
                               TextLong = Localizer[nameof(Core.Resources.Views.Home.Index.TSUCSTextLong)],
                               TextShort = Localizer[nameof(Core.Resources.Views.Home.Index.TSUCSTextShort)]
                           }); }
                    </a>
                </div>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-sm">
                <div class="ma-img-container d-flex justify-content-center">
                    <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="PeterDeJong">
                        <img src="images/home/cover-peterdejong.png" class="img-fluid" alt="Peter De Jong">
                        <div class="ma-overlay">
                            <span>
                                <strong>Peter De Jong attractor</strong> <br/>
                                <p>Chaotic attractors are mathematical systems that evolve over time. The Peter De Jong attractor is an especially elegant system, calculated by very simple trigonometry.</p>
                            </span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="ma-img-container d-flex justify-content-center">
                    <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Lorenz">
                        <img src="images/home/cover-lorenz.png" class="img-fluid" alt="Lorenz Attractor">
                        <div class="ma-overlay">
                            <span>
                                <strong>Lorenz attractor</strong> <br/>
                                <p>The Lorenz attractor is a chaotic system that arises out of three simple differential equations. This shows the POV-Ray code necessary to simulate this system. </p>
                            </span>

                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="row p-3">
            <div class="col-sm">
                <div class="ma-img-container d-flex justify-content-center">
                    <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="AngularD3">
                        <img src="images/home/cover-angulard3.png" class="img-fluid" alt="Angular D3">
                        <div class="ma-overlay">
                            <span>
                                <strong>Angular with D3.js</strong> <br/>
                                <p>Combining D3.js with AngularJS</p>
                            </span>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-sm">
                <div class="ma-img-container d-flex justify-content-center">
                    <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="AngularD3">
                        <img src="images/home/cover-demon-sm-trans.png" class="img-fluid" alt="Angular D3">
                        <div class="ma-overlay">
                            <span>
                                <strong>Thermodynamics, Computation and Irreversibility</strong> <br/>
                            </span>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}