@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Morten Albring - Personal Homepage";
    
    @inject IViewLocalizer Localizer
        
    }

@section Content
{ 
<div class="text-center">
    <h1 class="display-3 text-light ma-title">Morten Alexander Albring</h1>
</div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="images/home/mortcoverface.png" class="img-fluid">
            </div>
            <div class="col-sm text-secondary">
                <p class="ma-blurb">@Localizer["IntroPart1"]</p>
                <p class="ma-blurb">@Localizer["IntroPart2"]</p>
            </div>
        </div>
    
    </div>
    <div class="container-fluid p-5">

    <div class="row">
        <div class="col-sm">
            <div class="ma-img-container">
                <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="FractalChaos">
                    <img src="images/home/cover-fractalchaos.png" class="img-fluid" alt="Fractal Chaos">
                    <div class="ma-overlay">
                        <span>
                            <strong>@Localizer[nameof(Core.Resources.Views.Home.Index.FractalChaos)]</strong>
                            <br/>
                            <p class="d-none d-xl-block d-lg-block">
                                @Localizer[nameof(Core.Resources.Views.Home.Index.FractalChaosTextLong)]
                            </p>
                            <p class="d-xl-none d-lg-none">
                                Rendering fractal structures using the chaos game
                            </p>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="ma-img-container">
                <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="MengerSponge">
                    <img src="images/home/cover-menger.png" class="img-fluid" alt="Menger Sponge">
                    <div class="ma-overlay">
                        <span>
                            <strong>Menger Sponge</strong> <br/>
                            The Menger sponge is a three-dimensional fractal curve that exhibits infinite surface area and zero volume. This shows the POV-Ray code to render this mathematical structure
                        </span>

                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="ma-img-container">
                <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="TSUCS">
                    <img src="images/home/cover-tsucs.png" class="img-fluid" alt="Three Scroll Unified Chaotic System">
                    <div class="ma-overlay">
                        <span>
                            <strong>Three-Scroll Unified Chaotic System</strong> <br/>
                            The Three-Scroll Unified Chaotic System is a chaotic system that contains both a Lorenz-style attractor and also a Lu Chen-style attractor at its extremes.
                        </span>

                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
}

