@section Styles {
    <link rel="stylesheet" href="/css/fractalchaos.css"/>
}

@section Jumbo
{
    <div class="parallax parallax-fc4">
        <div class="parallax-title">
            <span>
                Fractal Chaos
            </span>
        </div>
    </div>
}

@section Content
{
    
    
}
