
@section Jumbo
{
      <div class="parallax parallax-fc1">
            <div class="parallax-title">
                <span>
                    Fractal Chaos
                </span>
            </div>
        </div>
}

@section Content
{ 
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                
                            <p>
                                                The chaos game is a game that starts with a series of anchor points.
                                                There could be any number of anchor points in any orientation. We'll start with three points, marked as <strong>Anchor R</strong>, <strong>G</strong> and <strong>B</strong> respectively.
                                            </p>
                                            <p>
                                                We'll also place a point somewhere on this canvas within these three anchors. This point is labelled 1.
                                            </p>
                
                                            <p>
                                                Now we'll take a regular die and colour in two of the faces red, two of them blue and two of them green.
                                            </p>
                                            <p>
                                                We'll roll this die to select one of the anchor points.
                                            </p>
            </div>
        </div>
        
    </div>

}