@{
    ViewData.Add("NavbarCustomStyle","navbar-ma-trans");
}

@section Styles {
    <link rel="stylesheet" href="/css/fractalchaos.css"/>
}

@section Jumbo
{
    <div class="parallax parallax-fc6">
        <div class="parallax-title">
            <span>
                Fractal Chaos
            </span>
        </div>
    </div>
}

@section Content
{
    <div class="container text-light">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                @Html.Partial("FractalChaos/Navigation")

                <div class="row">
                    <div class="col-md-12">
                        <p>Of course we're not limited to simply two dimensions. The chaos game works precisely the same in three dimensions as well.</p>

                        <p>We simply introduce a <i>z-axis</i> to the game and position the anchors. </p>

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polyhedra/lg/tetra.png">
                                <img src="/images/fractalChaos/polyhedra/lg/tetra.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 terations with four anchor points to form a tetrahedron
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polyhedra/lg/octahedron.png">
                                <img src="/images/fractalChaos/polyhedra/octahedron-dp.sm.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 20,000,000 terations with eight anchor points to form an octohedron
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="fc-image-container">
                                <a href="/images/fractalChaos/polyhedra/lg/tetra-norepeat.png">
                                    <img src="/images/fractalChaos/polyhedra/tetra-norepeat.sm.png"/>
                                </a>
                                <div class="caption">
                                    Chaos game played over 10,000,000 terations for tetrahedron but not repeating any anchor points.
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="fc-image-container">
                                <a href="/images/fractalChaos/polyhedra/lg/dodeca.png">
                                    <img src="/images/fractalChaos/polyhedra/dodeca.png"/>
                                </a>
                                <div class="caption">
                                    Chaos game played over 10,000,000 terations with twenty anchor points to form a regular dodecahedron
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid  text-light">

        <div class="row m-4">
            <div class="col">
                <p>Below is all the regular polyhedra with the chaos game rendered for 10,000,000 iterations for different variations of the game.</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="ma-fc-table">
                    <thead>
                    <tr>
                        <th scope="col">
                            Polyhedra
                        </th>
                        <th scope="col">
                            Tetrahedron
                        </th>
                        <th scope="col">
                            Cube
                        </th>
                        <th scope="col">
                            Octahedron
                        </th>
                        <th scope="col">
                            Dodecahedron
                        </th>
                        <th scope="col">
                            Icosahedron
                        </th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">
                            Normal
                        </th>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/tetra.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/tetra-normal.png"></img>
                            </a>
                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/cube.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/cube-normal.png"></img>
                            </a>
                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/octahedron-dp.txt.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/octo-normal.png"></img>
                            </a>

                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/dodeca.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/dode-normal.png"></img>
                            </a>

                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/ico.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/ico-normal.png"></img>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            No Repeat
                        </th>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/tetra-norepeat.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/tetra-norepeat.png"></img>
                            </a>

                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/cubenorepeat-dp.txt.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/cube-norepeat.png"></img>
                            </a>

                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/octahedron-norepeat.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/octo-norepeat.png"></img>
                            </a>

                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/dodeca-norepeat.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/dode-norepeat.png"></img>
                            </a>

                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/iconorepeat-dp.txt.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/ico-norepeat.png"></img>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            No Repeat Nearest
                        </th>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/tetranorepeatnearest-dp.txt.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/tetra-norepeatnearest.png"></img>
                            </a>

                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/cubenorepeatnearest-dp.txt.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/cube-norepeatnearest.png"></img>
                            </a>
                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/octahedron-norepeatnearest.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/octo-norepeatnearest.png"></img>
                            </a>


                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/dodeca-norepeatnearest.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/dode-norepeatnearest.png"></img>
                            </a>


                        </td>
                        <td>
                            <a href="/images/fractalChaos/polyhedra/lg/iconorepeatnearest-dp.txt.png">
                                <img class="img-fluid" src="/images/fractalChaos/polyhedra/table/ico-norepeatnearest.png"></img>
                            </a>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>


    </div>


    <div class="container text-light">
        <div class="row">
            <div class="col">
                <p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=DlozA4810A4&list=PLf5XkPT_UDJuKLNN82ghOZ18EtMss_B6Z">
                        See a playlist here for a few different videos I've rendered
                    </a>

                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("FractalChaos/References")
            </div>
        </div>
    </div>
}