@section Styles {
    <link rel="stylesheet" href="/css/fractalchaos.css"/>
}

@section Jumbo
{
    <div class="parallax parallax-fc2">
        <div class="parallax-title">
            <span>
                Fractal Chaos
            </span>
        </div>
    </div>
}

@section Content
{ 

    <div class="container text-light">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                @Html.Partial("FractalChaos/Navigation")



                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            What if we had more anchor points? Does every shape produce a fractal?
                        </p>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="fc-image-container">


                            <a href="/images/fractalChaos/polygons/lg/fcSquareBig.png">
                                <img src="/images/fractalChaos/polygons/fcSquareSmall.png"/>
                            </a>

                            <div class="caption">
                                Chaos game played over 10,000,000 iterations with four anchor points, going halfway towards a random anchor at every iteration.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="fc-image-text">
                            <p>
                                Unfortunately not.
                            </p>
                            <p>
                                If we have four anchor points, a square, we do simply get a random collection across a canvas.
                            </p>
                            <p>
                                This is because the points are free to move anywhere on the canvas with equal probability. They're not constrained to move away from any particular area.
                            </p>
                            <p>
                                We can see what happens with other polygons.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polygons/lg/fcPentagonBig.png">
                                <img src="/images/fractalChaos/polygons/fcPentagonSmall.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 iterations with five anchor points, going halfway towards a random anchor at every iteration.
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polygons/lg/fcHexagonBig.png">
                                <img src="/images/fractalChaos/polygons/fcHexagonSmall.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 iterations with six anchor points, going halfway towards a random anchor at every iteration.
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polygons/lg/fcSeptagonBig.png">
                                <img src="/images/fractalChaos/polygons/fcSeptagonSmall.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 iterations with seven anchor points, going halfway towards a random anchor at every iteration.
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polygons/lg/fcOctagonBig.png">
                                <img src="/images/fractalChaos/polygons/fcOctagonSmall.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 iterations with eight anchor points, going halfway towards a random anchor at every iteration.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="fc-image-text">
                            <p>
                                As we increase the number of anchor points, it doesn't seem to produce any especially interesting fractal structures.
                            </p>
                            <p>
                                However, we can put an additional constraint to the rules. At the moment, we roll a die to select which anchor point we move towards. We may end up rolling the same anchor point over and over again.
                            </p>
                            <p>
                                So let's add the constraint:
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    If we roll the same anchor point as we had on the last iteration, we roll again until we select a different one.
                                </li>
                            </ul>

                            <p>
                                When playing the chaos game with the square, this simple change to the rules transforms the random collection to this remarkable fractal structure.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polygons/lg/fcSquareNoRepeatBig2.png">
                                <img src="/images/fractalChaos/polygons/fcSquareNoRepeatSmall2.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 iterations with four anchor points, going halfway towards a random anchor at every iteration but with constraint that the same anchor point is different at every iteration.
                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>I've omitted rendering the anchor points for these images because the interesting structure is some distance within the anchor points.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="fc-image-container">
                            <a href="/images/fractalChaos/polygons/lg/fcPentagonNoRepeatBig.png">
                                <img src="/images/fractalChaos/polygons/fcPentagonNoRepeatSmall.png"/>
                            </a>

                            <div class="caption">
                                Chaos game played over 10,000,000 iterations with five anchor points, going halfway towards a random anchor at every iteration but with constraint that the same anchor point is different at every iteration.
                            </div>

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>


            </div>
        </div>

    </div>
}
