
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>
    
  <style type="text/css">
circle {
  
}
    </style>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="fractal" style="border:1px solid white">
      
          </div>
          
        </div>
        <div class="col-md-6">
          <div id="fractalgui">
            <button id="regen" onclick="restart()">Regen</button>
            <button id="regen" onclick="stop()">Stop</button>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="/js/fractalChaos/fractalChaos.js"></script>