<html>
<head>
    <title>Angular Clicker</title>
    <link rel="stylesheet" href="AngularClicker.css" type="text/css" />
</head>

<body>
    <h1>Angular Clicker</h1>

    <div ng-app="AngularClicker">
        <div ng-controller="HomeController">
            <div ng-hide="started">
                What is your name?
                <input ng-model="Player.Name" />
                <button ng-click="initialise()">
                    Start
                </button>
            </div>
            <div ng-show="started" class="gamecontainer">


                <div>
                    <div class="player">
                        {{Player.Name}}
                        <br />

                        XP - {{Player.XP}}
                        <br />

                        Gold - {{Player.Gold}}
                        <br />
                        AutoAttack - {{Player.AutoAttack}}
                    </div>
                    <div class="shop">
                        <button ng-click="increaseAutoAttack()">Increase auto attack</button>
                    </div>
                </div>

                <div class="enemycontainer">
                    <div ng-repeat="enemy in Enemies" class="enemy" ng-if="enemy.Alive" ng-click="reduceEnemyHealth(enemy.ID,1)">

                        ID: {{enemy.ID}}
                        <br />

                        Health: {{enemy.Health}}


                    </div>

                </div>
                

            </div>
        </div>
    </div>

    <script src="angular.min.js"></script>
    <script src="AngularClicker.js"></script>


</body>

</html>