<html>
<head>
    <title>Angular Clicker</title>
    <link rel="stylesheet" href="AngularClicker.css" type="text/css" />
</head>

<body>
    <h1>Angular Clicker</h1>

    <div ng-app="AngularClicker">
        <div ng-controller="HomeController">
            What is your name? 
            <input ng-model="Player.Name"/>
            

            <div class="player">
                {{Player.Name}}
                <br/>

                XP - {{Player.XP}}
                <br/>

                Gold - {{Player.Gold}}
                <br/>
                AutoAttack - {{Player.AutoAttack}}
            </div>

            <div ng-repeat="enemy in Enemies" class="enemy">
                {{enemy.ID}}
                {{enemy.Health}}
                <button ng-click="reduceEnemyHealth(enemy.ID,1)">Attack</button>
            </div>

            <div class="shop">
                <button ng-click="increaseAutoAttack()">Increase auto attack</button>
            </div>
        </div>
    </div>

    <script src="angular.min.js"></script>
    <script src="AngularClicker.js"></script>


</body>

</html>