.enemycontainer {
    display:flex;
    flex-direction:row;    
}

.enemy {        
    width:100px;
    height:100px;    
    padding:5px;
    background:#ff6a00;
    border:5px double #ff0000;
    border-radius:3px;
    margin:5px;

      -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
    .enemy:hover {
        transition:0.5s;
        border-radius:5px;
        background:#ffd800;
        cursor: pointer;
    }


.player {    
    border:5px solid #030870;
}