.amenhokit-container {
    display: flex;
}

    .amenhokit-container > div {
        padding: 1em;
    }

.upload-container {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
}

    .upload-container div {
        flex: 1;
    }

.drop-box {
    background-color: #cec9c9;
    padding: 20px;
    width: 80%;
    border: 3px dotted #2980B9;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.scorestringtest {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
}

.scorestringinput {
    width: 100%;
}

.file-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

.content {
    padding-top: 30px;
    padding-left: 2em;
}

.processButton {
    background: #1000ff;
    color: #fff;
    padding: 0.5em;
    border: #0a009a;
    border-radius: 10px;
    text-decoration: none;
}

    .processButton:hover {
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
        background: #4f43ff;
    }

.scoretable {
    width: 100%;
}

    .scoretable th {
        background: #01008f;
        color: #fff;
    }

    .scoretable td, th {
        padding: 0.5em;
        border: 1px solid #ccc;
    }

.scoreselectContainer {
    display: flex;
}

    .scoreselectContainer div {
        margin: 2em;
    }


.playerinfo-summary {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
}


.playerlist {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
}

    .playerlist ul {
        min-width: 100px;
        list-style: none;
        padding: 0;
    }

    .playerlist li {
        text-decoration: none;
    }

        .playerlist li a {
            padding: 0.3em;
            text-decoration: none;
            color: #000;
            display: block;
        }

        .playerlist li:not(.selected) a:hover {
            transition: 0.2s;
            background: #1000ff;
            color: #fff;
        }

    .playerlist .selected {
        background: #ffa10e;
        font-weight: bold;
    }

    .playerlist .active {
        background: #fffece;
        font-weight: bold;
    }


.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#graph-container {
    padding: 1em;
    border: 1px solid #f1f1f1;
}

.data-circle {
    fill: yellow;
    cursor: pointer;
}

    .data-circle:hover {
        fill: orange;
    }

.axis {
    font-size: 10px;
}

.graph-control-container {
    padding: 0.2em;
    border: 1px solid #ccc;
}

.graph-button-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

    .graph-button-container li {
        font-size: 0.8em;
        text-align: center;
        flex-grow: 1;
        padding: 0.5em;
        cursor: pointer;
        border: 1px solid;
        border-color: #ccc;
        border-radius: 5px;
    }

    .graph-button-container .button-active {
        background: #0f83c6;
        border-color: #0e6ca3;
        color: #fff;
    }

    .graph-button-container li:hover:not(.button-active) {
        background: #fffece;
        color: #000;
        transition: 0.2s;
    }

.line .not-active {
    stroke-opacity: 0.1;
}

.barchart {
    
    width:100%;
}
.bar {
    font: 10px sans-serif;
    
    padding-bottom: 0.3em;
    
    color: white;
    margin:0.1em;
    
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    overflow:hidden;
    align-items:center;
}

    .bar:hover {
        opacity: 1.0;
    }

.goodlane, .badlane {
    text-align: left;
}

.goodlane {
    border-color: rgb(152,78,163);
    border-color: #032201;
}

.badlane {
    border-color: #fed087;
    border-color: #460202;
}

.playeraverage {
    color: white;        
    font-weight: bold;
    border-color: #000;
}

.bar .lanebar-info {    
    
    padding-left:0.2em;
    padding-right:0.2em;
    min-width: 80px;
    margin-right: 2em;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 10px sans-serif;
    background: white;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
/* when hiding the picture */
.ng-hide-add {
    animation: 0.5s fadeOut ease;
}

/* when showing the picture */
.ng-hide-remove {
    animation: 0.5s fadeIn ease;
}
