

<div ng-if="loading">Loading data...</div>

<div ng-repeat="session in sessions">
    {{session.Date | date: 'yyyy-MM-dd'}}

    <div ng-repeat="game in session.Games">
        <strong>{{game.GameNumber}} - {{game.Lane}}</strong>
        
        <div ng-repeat="score in game.Scores">
            {{score.Player}} - {{score.Name}} - {{score.Scorestring}} - {{score.Score}}
        </div>
    </div>

</div>


<div class="scoreselectContainer">    
   <div>        
        <div ng-repeat="game in gameInfo">
            <span>{{game.Date}}</span> - <strong>Game {{game.GameNumber}}</strong> - <span>Lane {{game.Lane}}</span>
            <table class="scoretable">
                <thead>
                <tr>
                    <th>Score string</th>
                    <th>Score</th>
                    <th>Strikes</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in game.PlayerScores">
                    <td>
                        {{player.ScoreString}}
                    </td>
                    <td>
                        {{player.Score}}
                    </td>
                    <td>
                        {{player.NumberOfStrikes}}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>