body {
    background: #111213;
}

.gradient-box {
    border: 1px solid white;
    min-width: 200px;
    min-height: 200px;
}

.gradient-basic-1 {
    background-image: linear-gradient(#ff6a00, #0a15cb);
}

section {
    aspect-ratio: 1;
    width: 80dvmin;
    margin: 5rem auto;
    box-shadow: 0 0 2rem rgb(0 0 0 / 1);
}



section.one {
    background-image: linear-gradient(
            transparent 50%,
            hsl(231, 53%, 75%, 0.5) 50%
    ),
    linear-gradient(90deg, rgb(87, 113, 50) 50%, rgb(129, 21, 21) 50%);
    background-size: 4rem 4rem;
}

.norway-part-1 {
    background-image: linear-gradient(90deg, transparent 28%, blue 28%, blue 34%, transparent 10%);
    background-size: 15rem 9rem;
    background-repeat: no-repeat;
}

.norway-part-2 {
    background-image: linear-gradient(transparent 42%, white 42%, white 46%, blue 46%, blue 58%, white 58%, white 62%, transparent 62%)
}

.norway-part-3 {
    background-image: linear-gradient(90deg, red 25%, white 25%, white 28%, blue 28%, blue 34%, white 34%, white 37%, red 37%);
}

.norway-container {
    background-size: 15rem 9rem;
    background-repeat: no-repeat;
}

.norway {
    background-image: linear-gradient(90deg, transparent 28%, blue 28%, blue 34%, transparent 10%),
    linear-gradient(transparent 42%, white 42%, white 46%, blue 46%, blue 58%, white 58%, white 62%, transparent 62%),
    linear-gradient(90deg, red 25%, white 25%, white 28%, blue 28%, blue 34%, white 34%, white 37%, red 37%);

    background-size: 15rem 9rem;
    background-repeat: no-repeat;
}

section.two {
    background-color: hsl(0, 39%, 10%);
    background-image: linear-gradient(
            -45deg,
            transparent 75%,
            hsl(0, 80%, 60%) 75%
    ),
    linear-gradient(45deg, transparent 75%, hsl(0, 80%, 60%) 75%),
    linear-gradient(-135deg, transparent 75%, hsl(0, 80%, 60%) 75%),
    linear-gradient(135deg, transparent 75%, hsl(0, 80%, 60%) 75%);
    background-size: 10rem 10rem;
    background-position: 2rem 0, 2rem 0, 0 0, 0 0;
}

section.three {
    background-color: #212223;
    background-image: radial-gradient(circle, transparent 1rem, #212223 1rem),
    linear-gradient(teal 0.5rem, transparent 0.5rem),
    linear-gradient(90deg, teal 0.5rem, transparent 0.5rem);
    background-size: 5rem 5rem;
    background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
}

section.four {
    background-color: #232221;
    background-image: radial-gradient(
            circle at 100% 50%,
            transparent 1rem,
            #fff 1rem,
            #fff 1.5rem,
            transparent 1.5rem
    ),
    radial-gradient(
            circle at 0% 50%,
            transparent 1rem,
            #fff 1rem,
            #fff 1.5rem,
            transparent 1.5rem
    ),
    linear-gradient(-45deg, red, blue);
    background-size: 8rem 5rem, 8rem 5rem, 100% 100%;
    background-position: 0 0, 0 2.5rem;
}

section.five {
    background-color: #313466;
    background-image: conic-gradient(
            from 330deg at 50% 60%,
            #11ffbb 60deg,
            transparent 60deg
    ),
    conic-gradient(from 150deg at 50% 30%, #5255bb 60deg, transparent 60deg);
    background-size: 3rem 3rem;
    background-position: 0 0, 1.5rem -0.5rem;
}

section.six {
    width: 320px;
    height: 320px;
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 1.5625% 1.5625%;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-container {
    width: 400px;
    height: 400px;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-part-1 {
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%,
    var(--lg) 0 0 / 50% 50%;
 
}

.sierpinski-part-2 {
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%,
    var(--lg) 0 0 / 50% 50%,
    var(--lg) 0 0 / 25% 25%;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-part-3 {
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%, 
    var(--lg) 0 0 / 50% 50%, 
    var(--lg) 0 0 / 25% 25%, 
    var(--lg) 0 0 / 12.5% 12.5%;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-part-4 {
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%, 
    var(--lg) 0 0 / 50% 50%, 
    var(--lg) 0 0 / 25% 25%, 
    var(--lg) 0 0 / 12.5% 12.5%, 
    var(--lg) 0 0 / 6.25% 6.25%;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-part-5 {
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%, 
    var(--lg) 0 0 / 50% 50%, 
    var(--lg) 0 0 / 25% 25%, 
    var(--lg) 0 0 / 12.5% 12.5%, 
    var(--lg) 0 0 / 6.25% 6.25%, 
    var(--lg) 0 0 / 3.125% 3.125%;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-part-6 {
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%, 
    var(--lg) 0 0 / 50% 50%, 
    var(--lg) 0 0 / 25% 25%, 
    var(--lg) 0 0 / 12.5% 12.5%, 
    var(--lg) 0 0 / 6.25% 6.25%, 
    var(--lg) 0 0 / 3.125% 3.125%, 
    var(--lg) 0 0 / 3.125% 3.125%, 
    var(--lg) 0 0 / 1.5625% 1.5625%;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-part- {
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
    background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 1.5625% 1.5625%;
    background-color: transparent;
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    transform: skew(26.5deg) translateX(-25%);
}

.sierpinski-anim {
    animation-name: sierpinski-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    background-color: transparent;
    animation-direction: alternate;
    transform: skew(26.5deg) translateX(-25%);
    mask: linear-gradient(-45deg, #fff 50%, transparent 0);
    --lg: linear-gradient(135deg, #fff 50%, transparent 0);
}

@keyframes sierpinski-anim {
    0% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%;
    }
    10% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%;
    }
    20% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%;
    }
    30% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%;
    }
    40% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%;
    }
    50% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%;
    }
    60% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 1.5625% 1.5625%;
    }
    70% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 1.5625% 1.5625%, var(--lg) 0 0 / 0.78125% 0.78125%;
    }
    80% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 1.5625% 1.5625%, var(--lg) 0 0 / 0.78125% 0.78125%, var(--lg) 0 0 / 0.390625% 0.390625%;
    }
    90% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 1.5625% 1.5625%, var(--lg) 0 0 / 0.78125% 0.78125%, var(--lg) 0 0 / 0.390625% 0.390625%;
    }
    100% {
        background: var(--lg) 0 0 / 100% 100%, var(--lg) 0 0 / 50% 50%, var(--lg) 0 0 / 25% 25%, var(--lg) 0 0 / 12.5% 12.5%, var(--lg) 0 0 / 6.25% 6.25%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 3.125% 3.125%, var(--lg) 0 0 / 1.5625% 1.5625%, var(--lg) 0 0 / 0.78125% 0.78125%, var(--lg) 0 0 / 0.390625% 0.390625%;
    }

}
