
.navbar-ma-trans {
    position: absolute;
    width:100%;
    z-index: 1;
    background: transparent;
}

.navbar-ma-semi-trans {
    position: absolute;
    width:100%;
    z-index: 1;
    background: rgba(0,0,0,0.4);
}

.navbar-ma {
    margin-bottom: 0 !important;
    border-bottom: 0;
    background: rgb(46,50,54);
}

.navbar-trans {
    background-color: rgba(12, 84, 96, 0);
    opacity: 0.5;
}

.ma-nav {
    background-color: red !important;
    color: #b8daff;
}
