.ma-img-container {
    .nav-link {
        text-align: center;
    }
    background: radial-gradient(circle, rgba(94,94,94,0.5) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}
.ma-img-container:hover {
    
    
    
    
}

.ma-underlay, .ma-img-container, .ma-img-container img {
    
    transition: top 500ms ease-in-out, color 500ms ease-in-out, text-shadow 500ms ease-in-out, font-size 500ms ease-in-out, opacity 800ms ease-in-out;
}




.ma-underlay {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0px 0px 20px #000000;
    position: relative;
    
    top: -50%;
    z-index: -1;
}

.ma-img-container:hover .ma-underlay {
    animation: underlayhover 1s;
    font-size: 2em;
    opacity: 0.9;
    z-index: 1;
    top: -50%;
    color: white;
    text-shadow: none;
}
.ma-img-container:hover img {
    
    animation: underlayimghover 5s infinite;
   
}

@keyframes containerbackground {
   to {
       background-position: top left;
   }

}
@keyframes underlayimghover {
    0% {
        filter: hue-rotate(0deg);
        opacity:1;
    }


    50% {
        filter: hue-rotate(180deg);
        opacity:0.7;
    }

    100% {
        
        filter: hue-rotate(360deg);
        z-index: -1;
        opacity:0.5;
    }
}

@keyframes underlayhover {
    0% {
        opacity: 0.9;
        z-index: -1;
        top: -50%;
    }


    50% {
        top: -52%;
        z-index: -1;
    }

    100% {
        top: -50%;
        opacity: 1;
        z-index: 1;
    }
}