<style>

    .axis--x path {
        display: none;
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="graph-container">
                <svg id="graph"></svg>    
            </div>    
            
            <button class="btn btn-default" ng-click="gdt.setAllScoreFile()">See all scores</button>
            <button class="btn btn-default" ng-click="gdt.setBestScoreFile()">See best score per session</button>
        </div>
    </div>
</div>
