{{vm.test}}

<div id="chart_div"></div>
<!-- 
<table class="table table-bordered table-condensed" ng-if="vm.bowlingDataTable.length > 0">
    <thead>
    <tr>
        <th ng-repeat="col in vm.bowlingDataTable[0]">
            {{col}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.bowlingDataTable track by $index | limitTo:10">
        {{row}}
        <td ng-repeat="col in row track by $index">
            {{col}}
        </td>
    </tr>
    </tbody>
</table>


    -->
