<div ng-if="pc.player">
    <h1 class="text-capitalize">{{pc.player.Name}}</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="scatter-chart" style="width: 100%; height: 800px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            <div id="calendar_basic" style="width: 1000px; height: 800px;"></div>


        </div>
    </div>
</div>




<div ng-if="pc.selected.session">
    <strong>{{pc.selected.session}}</strong> 
</div>

<br/>
<div>
    {{pc.player.Name | titlecase}}'s highest score was {{pc.highestScore}} on <a ng-href="#sessions/{{pc.highestScoreSession.ID}}"> {{pc.highestScoreSession.DateParsed | date:"EEEE d MMMM yyyy" }} </a>
</div>


<!--
<div ng-repeat="score in pc.playerScores">
    {{score}}
</div>

-->