<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

    <h2>Individual stats</h2>
            <table class="table table-bordered table-striped table-condensed table-playerReport ma-responsive-table">
                <thead>
                    <tr>
                        <th>
                            Player
                        </th>

                        <th class="clickable"
                            title="Average score across all games"
                            ng-class="{'selected' : ss.viewOptions.playerReport.orderBy == 'AverageScore' }"
                            ng-click="ss.orderTableBy('AverageScore')">
                            Average Score
                        </th>
                        <th class="clickable"
                            title="Average score across the best game per session"
                            ng-class="{'selected' : ss.viewOptions.playerReport.orderBy == 'AverageBestScore' }"
                            ng-click="ss.orderTableBy('AverageBestScore')">
                            Average Best Score
                        </th>

                        <th class="clickable"
                            ng-class="{'selected' : ss.viewOptions.playerReport.orderBy == 'HighestScore' }"
                            ng-click="ss.orderTableBy('HighestScore')">

                            Highest Score
                        </th>

                        <th class="clickable"
                            ng-class="{'selected' : ss.viewOptions.playerReport.orderBy == 'NumberOfGames' }"
                            ng-click="ss.orderTableBy('NumberOfGames')">

                            Games
                        </th>
                        <th class="clickable"
                            ng-class="{'selected' : ss.viewOptions.playerReport.orderBy == 'NumberOfSessions' }"
                            ng-click="ss.orderTableBy('NumberOfSessions')">

                            Sessions
                        </th>
                        <th class="clickable"
                            ng-class="{'selected' : ss.viewOptions.playerReport.orderBy == 'TotalNumberOfStrikes' }"
                            ng-click="ss.orderTableBy('TotalNumberOfStrikes')">
                            <span ng-if="ss.divideByGames">
                                Strikes per game
                            </span>
                            <span ng-if="!ss.divideByGames">
                                Total strikes
                            </span>
                        </th>
                        <th class="clickable"
                            ng-class="{'selected' : ss.viewOptions.playerReport.orderBy == 'TotalNumberOfSpares' }"
                            ng-click="ss.orderTableBy('TotalNumberOfSpares')">

                            <span ng-if="ss.divideByGames">
                                Spares per game
                            </span>
                            <span ng-if="!ss.divideByGames">
                                Total spares
                            </span>
                        </th>
                        <th>
                            <span ng-if="ss.divideByGames">
                                Turkeys per game
                            </span>
                            <span ng-if="!ss.divideByGames">
                                Total turkeys
                            </span>
                        </th>
                        <th>
                            <span ng-if="ss.divideByGames">
                                Gutterballs per game
                            </span>
                            <span ng-if="!ss.divideByGames">
                                Total gutterballs
                            </span>
                        </th>
                        <th>Total 999s</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="p in ss.playerReports | orderBy: ss.viewOptions.playerReport.orderBy:ss.viewOptions.playerReport.desc ">
                        <td data-label="Player">
                            <a ng-href="#/player/{{p.Player.ID}}">
                                {{p.Player.Name | titlecase}}
                            </a>
                        </td>
                        <td data-label="Average Score">
                            {{p.AverageScore | number : 2}}
                        </td>
                        <td data-label="Average Best Score">
                            {{p.AverageBestScore | number : 2}}
                        </td>
                        <td data-label="Highest Score">
                            {{p.HighestScore}}
                        </td>

                        <td data-label="Number of Games">
                            {{p.NumberOfGames}}
                        </td>
                        <td data-label="Number of Sessions">
                            {{p.NumberOfSessions}}
                        </td>
                        <td data-label="Number of Strikes">
                            <span ng-if="ss.divideByGames">
                                {{(p.TotalNumberOfStrikes / p.NumberOfGames) | number : 2 }}
                            </span>
                            <span ng-if="!ss.divideByGames">
                                {{p.TotalNumberOfStrikes}}
                            </span>
                        </td>
                        <td data-label="Number of Spares">
                            <span ng-if="ss.divideByGames">
                                {{(p.TotalNumberOfSpares / p.NumberOfGames) | number : 2 }}
                            </span>
                            <span ng-if="!ss.divideByGames">
                                {{p.TotalNumberOfSpares}}
                            </span>
                        </td>

                        <td data-label="Number of Turkeys">

                            <span ng-if="ss.divideByGames">
                                {{(p.TotalNumberOfTurkeys / p.NumberOfGames) | number : 2 }}
                            </span>
                            <span ng-if="!ss.divideByGames">
                                {{p.TotalNumberOfTurkeys}}
                            </span>
                        </td>
                        <td data-label="Number of Gutterballs">
                            <span ng-if="ss.divideByGames">
                                {{(p.TotalNumberOfGutterballs / p.NumberOfGames) | number : 2 }}
                            </span>
                            <span ng-if="!ss.divideByGames">
                                {{p.TotalNumberOfGutterballs}}
                            </span>
                        </td>
                        <td data-label="Total 999s">
                            {{p.Total999s}}
                        </td>
                    </tr>
                </tbody>
            </table>

           

            
            
            </div>
            

             
        </div>



    

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="team-report-container">
                
                <div ng-repeat="tt in ss.teamReportByPlayerCount">


                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th colspan="42">Best {{tt.Players}} player games</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Date</th>
                                <th>Score</th>
                                <th>Per player</th>
                                <th colspan="42">
                                    Players
                                    <span class="pull-right see-more" ng-if="tt.viewLimit" ng-click="tt.viewLimit = null">See more</span>
                                    <span class="pull-right see-more" ng-if="!tt.viewLimit" ng-click="tt.viewLimit = 3">See less</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in tt.TeamReports | limitTo:tt.viewLimit track by $index">
                                <td class="col-sm-1">
                                    {{($index+1)}}
                                </td>
                                <td class="col-sm-2">
                                    <a href="#sessions/{{t.BestGame.Session}}">
                                        {{t.BestSession.Date | date:'yyyy-MM-dd'}}
                                    </a>
                                </td>

                                <td class="col-sm-1">

                                    {{t.BestTeamScore}}


                                </td>
                                <td class="col-sm-2">
                                    {{t.ScorePerPlayer | number : 2}}
                                </td>
                                <td ng-repeat="p in t.Players">
                                    {{p.Name | titlecase}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="42">
                                    <span class="pull-right see-more" ng-if="!tt.viewLimit" ng-click="tt.viewLimit = 3">See less</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>

            </div>


        </div>



    </div>


</div>

