<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">

                    Individual stats


                </div>
                <div class="panel-body">
                    <div class="btn btn-default"
                         ng-class="{'btn-primary' : ss.divideByGames}"
                         ng-click="ss.divideByGames = !ss.divideByGames">Divide totals by amount of game</div>



                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Player
                                </th>

                                <th ng-click="ss.orderGraphBy('AverageScore')">
                                    Average Score
                                </th>
                                <th>Highest Score</th>
                                <th>Games</th>
                                <th>
                                    <span ng-if="ss.divideByGames">
                                        Strikes per game
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        Total strikes
                                    </span>
                                </th>
                                <th>
                                    <span ng-if="ss.divideByGames">
                                        Spares per game
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        Total spares
                                    </span>
                                </th>
                                <th>
                                    <span ng-if="ss.divideByGames">
                                        Turkeys per game
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        Total turkeys
                                    </span>
                                </th>
                                <th>
                                    <span ng-if="ss.divideByGames">
                                        Gutterballs per game
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        Total gutterballs
                                    </span>
                                </th>
                                <th>Total 999s</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="p in ss.playerReports">
                                <td>
                                    <a ng-href="#/player/{{p.Player.ID}}">
                                        {{p.Player.Name | titlecase}}
                                    </a>
                                </td>
                                <td>
                                    {{p.AverageScore | number : 2}}
                                </td>
                                <td>
                                    {{p.HighestScore}}
                                </td>
                                <td>
                                    {{p.NumberOfGames}}
                                </td>
                                <td>
                                    <span ng-if="ss.divideByGames">
                                        {{(p.TotalNumberOfStrikes / p.NumberOfGames) | number : 2 }}
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        {{p.TotalNumberOfStrikes}}
                                    </span>
                                </td>
                                <td>
                                    <span ng-if="ss.divideByGames">
                                        {{(p.TotalNumberOfSpares / p.NumberOfGames) | number : 2 }}
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        {{p.TotalNumberOfSpares}}
                                    </span>
                                </td>

                                <td>

                                    <span ng-if="ss.divideByGames">
                                        {{(p.TotalNumberOfTurkeys / p.NumberOfGames) | number : 2 }}
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        {{p.TotalNumberOfTurkeys}}
                                    </span>
                                </td>
                                <td>
                                    <span ng-if="ss.divideByGames">
                                        {{(p.TotalNumberOfGutterballs / p.NumberOfGames) | number : 2 }}
                                    </span>
                                    <span ng-if="!ss.divideByGames">
                                        {{p.TotalNumberOfGutterballs}}
                                    </span>
                                </td>
                                <td>
                                    {{p.Total999s}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>




        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Team stats
                </div>
                <div class="panel-body">
                    Top 10 team scores
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Score</th>
                                <th>Player count</th>
                                <th>Score per player</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in ss.teamReport">
                                <td>
                                    <a href="#sessions/{{t.BestGame.Session}}">
                                        {{t.BestTeamScore}}
                                    </a>

                                </td>
                                <td>
                                    {{t.PlayerCount}}
                                </td>
                                <td>
                                    {{t.ScorePerPlayer | number : 2}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-condensed table-bordered">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Score string</th>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" placeholder="Filter date" ng-model="ss.dateFilter" />
                        </td>
                        <td>
                            <input class="form-control" placeholder="Filter name" ng-model="ss.nameFilter" />
                        </td>
                        <td>
                            <input class="form-control" placeholder="Filter score" ng-model="ss.scoreFilter" />
                        </td>
                        <td>
                            <input class="form-control" placeholder="Filter score string" ng-model="ss.scoreStringFilter" />
                        </td>

                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="s in ss.allScores
                    | filter:{'DateString': ss.dateFilter,'Name': ss.nameFilter, 'Score' : ss.scoreFilter, 'ScoreString' : ss.scoreStringFilter}
                    | orderBy: '-SessionDate'
                    | limitTo:ss.viewOptions.allScoresDisplayLimit">
                        <td>
                            <a href="#sessions/{{s.SessionId}}">
                                {{s.SessionDate | date : 'yyyy-MM-dd' }}
                            </a>

                        </td>
                        <td>
                            {{s.Name}}
                        </td>
                        <td>
                            {{s.Score}}
                        </td>
                        <td>
                            {{s.ScoreString}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="42">
                            <button class="btn btn-default btn-sm" ng-click="ss.viewOptions.allScoresDisplayLimit = null">View all</button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>

</div>

