@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-title post-title-fc">
    <div class="post-title-text">
        <h1>Fractal Chaos</h1>
    </div>
</div>


<div class="container fractal-chaos-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li><a href="@Url.Action("FractalChaos")">Introduction</a> </li>
                <li><a href="@Url.Action("FractalChaos2")">Other Polygons</a> </li>
                <li><a href="@Url.Action("FractalChaos3")">Varying ratio</a> </li>
                <li class="active"><a href="@Url.Action("FractalChaos4")">Adding rotation</a> </li>
            </ul>

       
       

            <div class="row">
                <div class="col-md-8">
                    <div class="fc-image-text">
                        <p>
                            We can add more complexity to the rules of what we do when we roll the die.
                        </p>
                        <p>
                            To recap, the rules are currently:
                            <ul class="list-group">
                                <li class="list-group-item">If we roll red, we move halfway towards the red anchor point</li>
                                <li class="list-group-item">If we roll green, we move halfway towards the green anchor point</li>
                                <li class="list-group-item">If we roll blue, we move halfway towards the blue anchor point</li>
                            </ul>
                        </p>
                        <p>
                            We'll keep the first two rules the same, but we'll make a small addition to the last rule:
                            <ul class="list-group">
                                <li class="list-group-item">If we roll blue, we move halfway towards the blue anchor point <strong>and</strong> we rotate the point about an angle θ around the blue anchor point.</li>
                            </ul>
                        </p>
                        <p>This means that in 2/3 of the cases, we'll produce the same structure.</p>

                    </div>
                </div>
                <div class="col-md-4">

                    <img class="fc-image pull-right" src="~/Content/images/fractalChaos/fcTriangleRotate.png" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <a href="https://youtu.be/Xyr979Mq_I4" target="_blank">
                        <img class="fc-image" src="~/Content/images/fractalChaos/triangle_VaryAngle6.gif" />
                    </a>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <strong>Resources:</strong>
                    <br />
                    <ul>
                        <li>
                            <a href="https://en.wikipedia.org/wiki/Chaos_game">Wikipedia article on Chaos Game</a>
                        </li>
                        <li>
                            <a href="http://math.bu.edu/DYSYS/chaos-game/chaos-game.html">Boston Univeristy article on Chaos Game</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=kbKtFN71Lfs">Numberphile video explaining the Chaos Game</a>
                        </li>
                        <li>
                            <a href="http://www.povray.org/">Persistence of Vision Raytracer software</a>
                        </li>
                        <li>
                            <a href="https://github.com/mortenalbring/FractalChaos">Repository for code for generating data points</a>
                        </li>

                    </ul>
                </div>
            </div>





        </div>
    </div>

</div>
