@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/MathJax/MathJax.js"></script>

<div class="parallax parallax-fc6">
    <div class="fractal-chaos-title">
        <span>Fractal Chaos</span>
    </div>
</div>

<div class="fractal-chaos-container">


    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                @RenderPage("Navigation.cshtml")

                <div class="row">
                    <div class="col-md-12">
                        <p>Of course we're not limited to simply two dimensions. The chaos game works precisely the same in three dimensions as well.</p>

                        <p>We simply introduce a <i>z-axis</i> to the game and position the anchors. </p>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5">
                        <div class="fc-image-container">
                            <a href="~/Content/images/fractalChaos/polyhedra/tetraPost_Big.png">
                                <img src="~/Content/images/fractalChaos/polyhedra/tetraPost_Big.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 terations with four anchor points to form a tetrahedron
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="fc-image-container">
                            <a href="~/Content/images/fractalChaos/polyhedra/fcpCubePost.png">
                                <img src="~/Content/images/fractalChaos/polyhedra/fcpCubePost.png"/>
                            </a>
                            <div class="caption">
                                Chaos game played over 10,000,000 terations with eight anchor points to form a cube
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>Rendering these takes a very long time, so I don't have a lot of examples here yet. The code can run all the different game styles on polyhedra, and I will add more variants as I add them.</p>

                        <p>
                            <a target="_blank" href="https://www.youtube.com/watch?v=DlozA4810A4&list=PLf5XkPT_UDJuKLNN82ghOZ18EtMss_B6Z">
                                See a playlist here for a few different videos I've rendered
                            </a>

                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @RenderPage("References.cshtml")
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>