@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/HTML-CSS"],
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
    });
</script>
<script src="/Scripts/MathJax/MathJax.js"></script>


<div class="post-title post-title-fc4">
    <div class="post-title-text">
        <span>Fractal Chaos</span>
    </div>
</div>


<div class="container fractal-chaos-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @RenderPage("Navigation.cshtml")

            <div class="row">
                <div class="col-md-12">
                    <p>
                        We can extend the chaos game even further, to not rely on anchor points at all to find the next position.
                    </p>
                    <p>
                        The only thing that really matters is that we have a die roll and then some calculation to work out the position of the next point, and then we use the position of that point to calculate the next one.
                    </p>
                    <p>
                        That means that given some set of co-ordinates <em>x</em>, <em>y</em>, we can apply some function <em>f(x,y)</em> to calculate the next set of co-ordinates.
                    </p>
                    <p>
                        \[
                        f(x,y) = A \begin{bmatrix}x\\y\end{bmatrix} + B
                        \]

                    </p>
                    <p>
                        Where A is some matrix and B is some vector.  More explicitly:
                    </p>
                    <p>
                        \[
                        f(x,y) = \begin{bmatrix}a&b\\c&d\end{bmatrix}  \begin{bmatrix}x\\y\end{bmatrix} + \begin{bmatrix}e\\f\end{bmatrix}
                        \]

                    </p>
                    <p>
                        The British mathematician Michael Barnsley discovered a very special set of values for these constants a,b,c,d,e and f.
                    </p>
                    <p>
                        Moreover, he used not just one function but four - each with different probabilities.
                    </p>

                    <p>
                        \[
                        \begin{align}
                        f_1(x,y) &= \begin{bmatrix}0&0\\0&0.16\end{bmatrix}  \begin{bmatrix}x\\y\end{bmatrix} \\

                        f_2(x,y) &= \begin{bmatrix}0.85&0.04\\-0.04&0.85\end{bmatrix}  \begin{bmatrix}x\\y\end{bmatrix} + \begin{bmatrix}0\\1.60\end{bmatrix} \\

                        f_3(x,y) &= \begin{bmatrix}0.2&-0.26\\0.23&0.22\end{bmatrix}  \begin{bmatrix}x\\y\end{bmatrix} + \begin{bmatrix}0\\1.6\end{bmatrix} \\
                        f_4(x,y) &= \begin{bmatrix}-0.15&0.28\\0.26&0.24\end{bmatrix}  \begin{bmatrix}x\\y\end{bmatrix} + \begin{bmatrix}0\\0.44\end{bmatrix}
                        \end{align}

                        \]

                    </p>

                    <p>
                        We use the different functions with different probabilities.

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">


                                <ul class="list-group">
                                    <li class="list-group-item">
                                        \(f_1 \) is used 1% of the time, applying the transformation
                                        \[
                                        \begin{align}
                                        x_{n+1} &= 0 \\
                                        y_{n+1} &= 0.16 y_n
                                        \end{align}
                                        \]

                                    </li>
                                    <li class="list-group-item">
                                        \(f_2 \) is used 85% of the time, applying the transformation
                                        \[
                                        \begin{align}
                                        x_{n+1} &= 0.85 x_n + 0.04 y_n \\
                                        y_{n+1} &= -0.04 x_n + 0.85  y_n + 1.6
                                        \end{align}
                                        \]
                                    </li>
                                    <li class="list-group-item">
                                        \(f_3 \) is used 7% of the time, applying the transformation

                                        \[
                                        \begin{align}
                                        x_{n+1} &= 0.2 x_n - 0.26 y_n \\
                                        y_{n+1} &= 0.23 x_n + 0.22  y_n + 1.6
                                        \end{align}
                                        \]
                                    </li>
                                    <li class="list-group-item">
                                        \(f_4 \) is used 7% of the time, applying the transformation

                                        \[
                                        \begin{align}
                                        x_{n+1} &= -0.15 x_n + 0.28 y_n \\
                                        y_{n+1} &= 0.26 x_n + 0.24  y_n + 0.44
                                        \end{align}
                                        \]
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </p>
                    <p>
                        Why are we doing all this?
                    </p>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <div class="fc-image-container">


                                <a href="~/Content/images/fractalChaos/fcBarnsBig.png" target="_blank">
                                    <img src="~/Content/images/fractalChaos/fcBarnsSmall.png" />
                                </a>
                                <div class="caption">
                                    Barnsley Fern generated after 10,000,000 iterations.
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        This is the <em>Barnsley Fern</em>, first described by mathematician Michael Barnsley. The original fractal was constructed to resemble the black spleenwort.
                    </p>
                    <p>
                        The four different functions all reproduce different segments of the fern:
                        <ul>
                            <li><em>f1</em> produces the stem, or rachis</li>
                            <li><em>f2</em> produces progressively smaller leaves</li>
                            <li><em>f3</em> produces the largest left-hand leaf</li>
                            <li><em>f4</em> produces the largest right-hand leaf</li>
                        </ul>
                        
                    </p>
                    <p>
                        The more iterations are run, the more intricate the beautiful image is. 
                    </p>

                    The logician Augustuc De Morgan wrote of problems like this:
                    <br />
                    <div class="blockquote-reverse">
                        Great fleas have little fleas upon their backs to bite ’em,
                        <br />
                        And little fleas have lesser fleas, and so ad infinitum.
                        <br />
                        And the great fleas themselves, in turn, have greater fleas to go on,
                        <br />
                        While these again have greater still, and greater still, and so on.”
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    @RenderPage("References.cshtml")
                </div>
            </div>





        </div>
    </div>

</div>
