<strong>Resources:</strong>
<br/>
<ul>
    <li>
        <a href="https://en.wikipedia.org/wiki/Chaos_game">Wikipedia article on Chaos Game</a>
    </li>
    <li>
        <a href="http://math.bu.edu/DYSYS/chaos-game/chaos-game.html">Boston Univeristy article on Chaos Game</a>
    </li>
    <li>
        <a href="http://www.betweenartandscience.com/chaosgame_words.html">Between Art and Science</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=kbKtFN71Lfs">Numberphile video explaining the Chaos Game</a>
    </li>
    <li>
        <a href="http://www.povray.org/">Persistence of Vision Raytracer software</a>
    </li>
    <li>
        <a href="https://github.com/mortenalbring/FractalChaos">Repository for code for generating data points</a>
    </li>
                    
</ul>