.am-sessions {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.table-playerReport th.clickable {
    cursor: pointer;
    background: #ededff;
}
.table-playerReport th.clickable.selected {
    background: #4646ff;
    color: #fff;
}

.team-report-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    transition: 1s;
    
}

.team-report-container .item {
    width:  600px;
    margin: auto;
    
}

.team-report-container .see-more {
    font-weight: normal;
    cursor: pointer;
    color: blue;
    font-size: 0.8em;
}



#graph {
    background: #fff;
}


#graph-container svg {
    width:100%;
    height:100%;
}

#graph-container {   
    width: 100%;
    height:80vh;
}


#graph-container .tooltip {
    border: 1px solid #ccc;
    font-size: 12px;    
    color: #fff;    
    padding: 5px;
    text-align: center;
}
#graph-container .point {
    cursor: pointer;    
    opacity:0.9;
}

#graph-container .related {
    stroke-width:2px;
    stroke:black;
}

#graph-container .other {
    transition:0.2s;
    opacity:0.4;
}

#graph-container .point:hover {
    opacity:1.0;
}
#graph-container .legend {
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;

    text-transform:capitalize; 
}
#graph-container .legend:hover {
    font-weight:bold;
}

#graph-container .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

#graph-container .axis { 
font-size:12px;

}

#graph-container .axis text {
    fill:#666;
}


