
svg {
    border: 1px solid #ccc;
}

.links line {
    /*stroke: #999;*/
    /*stroke-opacity: 0.2;*/
    stroke-linecap: round;
}

.links line:hover {
    cursor: pointer;
    stroke-opacity: 0.9;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.search-nodes {
    cursor: pointer;
}

.search-nodes g:hover circle {
    transition: 1s;
    fill: white;
    stroke: blue;
}

.search-nodes g:hover text {
    fill: black;
}


text {
    font-family: sans-serif;
    font-size: 10px;
    fill: #fff;
}

.nodes .bold {
    font-weight: bold;
    font-size: 10px;
}

.nodes circle {
    cursor: pointer;
}

.nodes .node-text {
    cursor: pointer;
}


.node-group:hover .node-text {
    fill: #865500;
}

.link-group text {
    font-size: 8px;
    fill: #f3e582;
    opacity: 0.3;
}

.bar {
    cursor: pointer;
    fill: #fda934;
}

.bar:hover {
    fill: #fcb046;
}
