@section Jumbo
{
    <div class="parallax parallax-about">
        <div class="parallax-title">
            <span>
                Om meg
            </span>
        </div>
    </div>
}

@section Content
{
    <div class="container p-5 text-light">
        <div class="row">
            <div class="col">
                <!-- About page content -->
                <div class="row">
                    <div class="col-md-8">
                        <p>Mitt første betalte webprosjekt var i 1999, da jeg var 12 og jeg lagde det offentlige nettsteder for ungdomsskolen min.</p>
                        <p>Dette nettstedet har heldigvis blitt uppdatert for lenge siden!</p>
                        <p>Nettet har endret seg dramatisk siden den, og set samme har alle teknologiene som bygger det.</p>

                        <p>Jeg har jobbet med .NET stack i ca 8 år med profesjonell enfaring innen både 'front-end' og 'back-end' utvikling.</p>

                        <p>For mine personlige prosjekter er jeg spesielt interessert i visuelle representasjoner av matemasike systemer. Jeg har skrevet mye kode for simuleringer av kaotiske systemer og fraktale strukturer</p>

                        <p>Jeg ble født i norge men vokste opp i England. Jeg føler at det ikke er nok innhold på netter spesifikt på norsk. Derfor overseetter jeg hver side på nettsteder mitt til norsk. Dette er et pågående arbeit og en nyttig øvelse i internasjonalisering!</p>

                    </div>

                    <div class="col-md-4">
                        <figure class="figure">
                            <img class="figure-img img-fluid img-thumbnail" src="/images/about/littlemort.png" alt="Min interesse for datamaskiner begynte tidlig">
                            <figcaption class="figure-caption">Min interesse for datamaskiner begynte tidlig</figcaption>
                        </figure>

                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <h3 id="list-item-1">Back-end</h3>
                        <p>
                            Jeg vanligvis jobber med ASP.NET MVC 5 og <strong>Entity Framework</strong> og <strong>SQL Server</strong> og <strong>Azure</strong>. Jeg liker spesient godt å jobbe med <strong>SignalR</strong> for klient-server kommunikasjon.
                        </p>
                        <p>
                            Nylig har jeg jobbet mye mer med <strong>ASP.NET Core 5.0</strong>, <strong>Dynamics CRM</strong> og <strong>FetchXml</strong>.
                        </p>

                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h3>Front-end</h3>
                        <p>
                            Gjennom årene har jeg prøvd så mange JavaScript technologier. Jeg begynte å skrike enkelt JS/jQuery og CSS, og begyte deretter å lage 'single-page' applikasjoner med <strong>Knockout.js</strong> og <strong>Bootstrap</strong>.
                        </p>
                        <p>
                            Jeg elsket toveis databinding og hvor enkelt det er å bygge dynamiske applikasjoner. Jeg gikk videre til Angular for å bygee mye større applikasjoner med komplekse komponenter. Mer nylig har jeg brukt React og Vue.
                        </p>
                        <p>
                            Jeg elsker spesient ds.js for interaktiv datavisualisering. Dette rammeverket er utrolig kraftig, men litt komplisert å sette opp riktig. Men når den først fungerer, kan den gjøre et stort utvalg av fantastiske visualiseringer og datamanipulasjoner.
                        </p>


                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h3>Verktøy</h3>

                        <p>Jeg liker å jobbe med de nyeste teknolgiene, for utvikling og design. </p>
                        <p>
                            Min foretrukne IDE er JetBrains Rider, men jeg har selvfølgelig brukt Visual Studio (2012 til 2019, med Resharper). Jeg bruker Fork som min git-klient, og jeg har erfaring med:
                        </p>

                        <div class="row">
                            <div class="col-6">

                            </div>
                        </div>

                        <ul class="list-group list-group-horizontal-md col-md-6">
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe Photoshop</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe Illustrator</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe InDesign</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe Premier Pro</li>
                        </ul>

                        <ul class="list-group list-group-horizontal-md col-md-6">
                            <li class="list-group-item list-group-item-dark flex-fill">GIMP</li>
                            <li class="list-group-item list-group-item-dark flex-fill">ffmpeg</li>
                            <li class="list-group-item list-group-item-dark flex-fill">LaTeX</li>
                            <li class="list-group-item list-group-item-dark flex-fill">POV-Ray</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Gource</li>
                        </ul>
                    </div>

                </div>

                <!-- About page content end -->

            </div>
        </div>

    </div>

    <div class="parallax parallax-gource">
    </div>

    <div class="container-fluid p-5 text-light ma-section-lighter" id="Education">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col">
                <h3>Utdanning</h3>

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>University of Manchester</strong>
                        <br>
                        <p>September 2009 - September 2013</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <strong>PhD in Nanoscience</strong>
                        <br>
                        <a href="https://www.research.manchester.ac.uk/portal/en/theses/towards-quantum-information-processing-with-cr3-based-heterometallic-clusters(6ff7e303-ca75-4632-986d-48bea42d96e3).html">
                            <em>Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters</em>
                        </a>

                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col">
                                <figure class="figure">
                                    <img class="figure-img img-fluid img-thumbnail" src="/images/about/dimerschematic.png" alt="Schematic of heterometallic dimer">
                                    <figcaption class="figure-caption">Skjematisk av heterometallisk dimer</figcaption>
                                </figure>

                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>
                                    Jeg er veldig interessert i databehandlingens fremtid på sitt mest grunnlegende nivå.
                                    Etter hvert som datamaskiner blir stadig mindre, blir den krafitgere vår teknologi. Imidlertid er det en grunnlegende grense for miniatyrisering - selve materiens grenser.
                                    Ved denne grensen må vi begynne å utnytte kvantemekanikk for å utføre beregninger.
                                </p>
                                <p>
                                    Under doktorgraden min fikk jeg muligheten til å utforske de magnetiske egeneskapene til en serie av store molekyler og finne ut hvilken som hadde potensielle applikasjoner for kvanteberegning.
                                    Jeg utførte spektroskopiske studier på en serie stoffer og utforsket detaljerte simuleringer for å forstå de relative magnetiske egenskapene til dem. Jeg var også involvert i et prosjekt for å bygge en tilpasset kryostat for å undersøke magnetisk oppførsel ved temperaturskalaer under 1 Kelvin.
                                </p>
                                <p>
                                    Min forsking involverte mye stor data manipulasjon. Selv om jeg kansje ikke h ar oppdagen den neste kvantecomputeren, oppdaget jeg lidenskapen min for programmering og ville bruken den utenfor akademia.
                                </p>

                                <strong>Publikasjoner:</strong>
                                <br>
                                <ul>
                                    <li>
                                        <a href="https://www.research.manchester.ac.uk/portal/en/theses/towards-quantum-information-processing-with-cr3-based-heterometallic-clusters(6ff7e303-ca75-4632-986d-48bea42d96e3).html">
                                            Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters
                                        </a>

                                    </li>
                                    <li>
                                        <a href="http://pubs.acs.org/doi/abs/10.1021/ja5047445">A Detailed Study of the Magnetism of Chiral {Cr7M} Rings: An Investigation into Parametrization and Transferability of Parameters</a>
                                    </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>University of Lancaster</strong>
                        <br>
                        <p>September 2009 - September 2013</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <strong>MPhys, Theoretical Physics</strong>
                        <br>

                        <em>Upper Second-Class Honours (2:1)</em>
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col">
                                <figure class="figure">
                                    <img class="figure-img img-fluid img-thumbnail" src="/images/about/quantum_braids.jpg" alt="Braiding non-abelian anyons">
                                    <figcaption class="figure-caption">Braiding non-abelian anyons</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>Jeg har alltid hatt en stor interesse for den matematiske grunnlaget for virkeligheten, og derfor var jeg ivrig å studere teoretisk fysikk ved Lancaster University. </p>
                                Lancaster University var den gang <a target="_blank" href="https://scan.lancastersu.co.uk/2012/12/22/science-and-the-student-1-the-coldest-place-on-earth"> det 'kuleste' stedet i det observerbare universet</a>.

                                <p>Mitt masterprosjekt studerte flettestatistikken for Akriksov-virver i 5/2 fraksjonelle kvantum Hall-effekten som 'non-abelian' anyons for feiltoerante qubits in topologiske kvantemaskiner. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="container p-5 text-light" id="Employment">
        <div class="row">
            <div class="col">
                <h3 id="list-item-3">Arbeid</h3>

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>Royal Institute of Chartered Surveyors</strong>
                        <br>
                        <p>
                            Full-Stack .NET Developer
                        </p>
                        <p>
                            April 2018 - Nå
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">

                        <div class="row">
                            <div class="col">
                                <p>
                                    The Royal Institution of Chartered Surveyors (RICS) er et profesjonelt organisasjon som fremmer og håndhever internasjonale standarder innen konstruksjon, forvaltning og verdivurdering av land og infrastruktur. RICS påvirker positiv endring i de bygde og naturlige miljøene.
                                </p>
                                <p>
                                    Mitt arbeid i RICS har berørt et stort utvald av forskjellige prosjekter. Jeg har støttet viktige gamle systemer og bygd nye applikasjoner og prosedyrer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->

                <hr>

                <div class="row">
                    <div class="col">
                        <strong>Electrika</strong>
                        <br>
                        <p>.NET Developer</p>
                        <p>Desember 2013 - April 2018</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <p>Jobben min hos Electrika var opprinnelig å automatisere noen interne rutiner. Jeg utviklet mange ASP.NET webapplikasjoner som fullautomatiserte noen ganske tidkrevende manuelle prosesser. </p>
                        <p>
                            For at jeg ikke skulle automatisere meg selv fra en jobb, utvidet jeg rollen min. Jeg opprettet en ny, hierarkisk databasestruktur og et API for andre å konsumere dataene våre.
                        </p>

                        <p>Mitt ansvar i denne stillingen inkluderte: </p>
                        <ul>
                            <li>
                                Vedlikeholde en stor gammel ASP.NET Web Forms kodebase og implementere nye funksjoner og feilrettinger
                            </li>
                            <li>
                                Designe en nodebasert databasestruktur for lagring av katalogdata og skriving av C#-kode på baksiden
                                med EntityFramework og SignalR for å rekursivt navigere og manipulere datastrukturen
                            </li>
                            <li>
                                Utviklet web -APIer for å levere data til eksterne selskaper, som i dag driver nettstedene til flere store globale elektriske produsenter, for eksempel Legrand, Unitrunk, Kosnic Lighting, Ansell
                                Lighting og Schneider Electric
                            </li>
                            <li>
                                Utvikler en intern ASP.Net Web Forms -applikasjon for automatisk å generere en serie
                                markedsføringsrapporter, data fra SQL -database og Google Analytics API
                            </li>
                            <li>
                                Trening og veiledning av juniorutviklere og sommerstudenter
                            </li>
                            <li>
                                Opprettholdt alle selskapets sosiale medier -kontoer
                            </li>
                        </ul>
                    </div>


                </div>


                <hr>

                <div class="row">
                    <div class="col">
                        <strong>Xerox LTD</strong>
                        <br>
                        <p>Xerographic Engineer (Fuser Module)</p>
                        <p>Juli 2006 - oktober 2006, juli 2005 - oktober 2005</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <p>Jeg tilbrakte to somre som en del av ingeniørteamet på Xerox.</p>
                        <ul>
                            <li>Involvert i en beredskapsgruppe for å løse kritiske problemer som involverer et nytt sett med toner</li>
                            <li>
                                Analyserte feil ved hjelp av feilmodus og effektanalyse for å prioritere problemløsning
                            </li>
                            <li>Brukte statistiske teknikker som regresjon og korrelasjonsanalyse</li>
                        </ul>

                    </div>
                </div>
            </div>


            <div class="col-md-1"></div>
        </div>
    </div>


    <div class="parallax parallax-valaam">
    </div>

    <div class="container-fluid p-5 text-light ma-section-lighter" id="Volunteering">

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col">
                <h2>Volunteering</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col">
                <strong>Valaam Monastery, Russia</strong>
                <p>Arbeider</p>
                <p>Juli 2007 - september 2007</p>

                <p>Jeg tilbrakte en vakker som frivillig i Valaam kosteret, som logger på en liten øy midt in Lagodasjøen. Dette er den største innsjøen i Europa, og å være midt i det føles helt fjernt og isolert. </p>
                <p>Arbeidet var stort sett fysisk arbeid, som å hugge ved, flytte høy og høste poteter og rødbeter.</p>

            </div>
            <div class="col-2 col-sm-6">
                <img class="img-fluid" src="/images/about/mortenvalaam.png"></img>
            </div>
        </div>
    </div>
}