@section Jumbo
{
    <div class="parallax parallax-about">
        <div class="parallax-title">
            <span>
                Om meg
            </span>
        </div>
    </div>
}

@section Content
{
    <div class="container p-5 text-light">
        <div class="row">
            <div class="col">
                <!-- About page content -->
                <div class="row">
                    <div class="col-md-8">
                        <p>Mitt første betalte webprosjekt var i 1999, da jeg var 12 og jeg lagde det offentlige nettsteder for ungdomsskolen min.</p>
                        <p>Dette nettstedet har heldigvis blitt uppdatert for lenge siden!</p>
                        <p>Nettet har endret seg dramatisk siden den, og set samme har alle teknologiene som bygger det.</p>

                        <p>Jeg har jobbet med .NET stack i ca 8 år med profesjonell enfaring innen både 'front-end' og 'back-end' utvikling.</p>

                        <p>For mine personlige prosjekter er jeg spesielt interessert i visuelle representasjoner av matemasike systemer. Jeg har skrevet mye kode for simuleringer av kaotiske systemer og fraktale strukturer</p>

                        <p>Jeg ble født i norge men vokste opp i England. Jeg føler at det ikke er nok innhold på netter spesifikt på norsk. Derfor overseetter jeg hver side på nettsteder mitt til norsk. Dette er et pågående arbeit og en nyttig øvelse i internasjonalisering!</p>

                    </div>

                    <div class="col-md-4">
                        <figure class="figure">
                            <img class="figure-img img-fluid img-thumbnail" src="/images/about/littlemort.png" alt="Min interesse for datamaskiner begynte tidlig">
                            <figcaption class="figure-caption">Min interesse for datamaskiner begynte tidlig</figcaption>
                        </figure>

                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <h3 id="list-item-1">Back-end</h3>
                        <p>
                            Jeg vanligvis jobber med ASP.NET MVC 5 og <strong>Entity Framework</strong> og <strong>SQL Server</strong> og <strong>Azure</strong>. Jeg liker spesient godt å jobbe med <strong>SignalR</strong> for klient-server kommunikasjon.
                        </p>
                        <p>
                            Nylig har jeg jobbet mye mer med <strong>ASP.NET Core 5.0</strong>, <strong>Dynamics CRM</strong> og <strong>FetchXml</strong>.
                        </p>

                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h3>Front-end</h3>
                        <p>
                            Gjennom årene har jeg prøvd så mange JavaScript technologier. Jeg begynte å skrike enkelt JS/jQuery og CSS, og begyte deretter å lage 'single-page' applikasjoner med <strong>Knockout.js</strong> og <strong>Bootstrap</strong>.
                        </p>
                        <p>
                            Jeg elsket toveis databinding og hvor enkelt det er å bygge dynamiske applikasjoner. Jeg gikk videre til Angular for å bygee mye større applikasjoner med komplekse komponenter. Mer nylig har jeg brukt React og Vue.
                        </p>
                        <p>
                            Jeg elsker spesient ds.js for interaktiv datavisualisering. Dette rammeverket er utrolig kraftig, men litt komplisert å sette opp riktig. Men når den først fungerer, kan den gjøre et stort utvalg av fantastiske visualiseringer og datamanipulasjoner.
                        </p>


                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h3>Verktøy</h3>

                        <p>Jeg liker å jobbe med de nyeste teknolgiene, for utvikling og design. </p>
                        <p>
                            Min foretrukne IDE er JetBrains Rider, men jeg har selvfølgelig brukt Visual Studio (2012 til 2019, med Resharper). Jeg bruker Fork som min git-klient, og jeg har erfaring med:
                        </p>

                        <div class="row">
                            <div class="col-6">

                            </div>
                        </div>

                        <ul class="list-group list-group-horizontal-md col-md-6">
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe Photoshop</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe Illustrator</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe InDesign</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Adobe Premier Pro</li>
                        </ul>

                        <ul class="list-group list-group-horizontal-md col-md-6">
                            <li class="list-group-item list-group-item-dark flex-fill">GIMP</li>
                            <li class="list-group-item list-group-item-dark flex-fill">ffmpeg</li>
                            <li class="list-group-item list-group-item-dark flex-fill">LaTeX</li>
                            <li class="list-group-item list-group-item-dark flex-fill">POV-Ray</li>
                            <li class="list-group-item list-group-item-dark flex-fill">Gource</li>
                        </ul>
                    </div>

                </div>

                <!-- About page content end -->

            </div>
        </div>

    </div>

    <div class="parallax parallax-gource">
    </div>

    <div class="container-fluid p-5 text-light ma-section-lighter" id="Education">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col">
                <h3>Utdanning</h3>

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>University of Manchester</strong>
                        <br>
                        <p>September 2009 - September 2013</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <strong>PhD in Nanoscience</strong>
                        <br>
                        <a href="https://www.research.manchester.ac.uk/portal/en/theses/towards-quantum-information-processing-with-cr3-based-heterometallic-clusters(6ff7e303-ca75-4632-986d-48bea42d96e3).html">
                            <em>Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters</em>
                        </a>

                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col">
                                <figure class="figure">
                                    <img class="figure-img img-fluid img-thumbnail" src="/images/about/dimerschematic.png" alt="Schematic of heterometallic dimer">
                                    <figcaption class="figure-caption">Schematic of heterometallic dimer</figcaption>
                                </figure>

                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>
                                    I have always had a keen interest in the future of computing at its most fundamental level. As computers become ever-smaller, the powerful our techology becomes. However, there is a fundamental limit to miniaturization - the limits of matter itself. At this limit, we must start to exploit quantum mechanics to perform computations.
                                </p>
                                <p>
                                    During my PhD in the School of Chemistry, I had the opportunity to explore the magnetic properties of a series of large molecules and ascertain their potential applications for quantum computing. I performed spectroscopic studies on a series of compounds, ran detailed simulations to understand the relative magnetic properties of them, and was also involved in a project to build a custom cryostat to investigate such compounds at temperature scales below 1 Kelvin.
                                </p>

                                <strong>Publications:</strong>
                                <br>
                                <ul>

                                    <li>
                                        <a href="https://www.research.manchester.ac.uk/portal/en/theses/towards-quantum-information-processing-with-cr3-based-heterometallic-clusters(6ff7e303-ca75-4632-986d-48bea42d96e3).html">
                                            Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters
                                        </a>

                                    </li>
                                    <li>
                                        <a href="http://pubs.acs.org/doi/abs/10.1021/ja5047445">A Detailed Study of the Magnetism of Chiral {Cr7M} Rings: An Investigation into Parametrization and Transferability of Parameters</a>
                                    </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>University of Lancaster</strong>
                        <br>
                        <p>September 2009 - September 2013</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <strong>MPhys, Theoretical Physics</strong>
                        <br>

                        <em>Upper Second-Class Honours (2:1)</em>
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col">
                                <figure class="figure">
                                    <img class="figure-img img-fluid img-thumbnail" src="/images/about/quantum_braids.jpg" alt="Braiding non-abelian anyons">
                                    <figcaption class="figure-caption">Braiding non-abelian anyons</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>I have always had a keen interest in the mathematical underpinnings of reality, and so I was keen to study Theoretical Physics at Lancaster University. </p>
                                <p>My masters project involved studying the braiding statistics of Abrikosov vortices in the 5/2 fractional quantum Hall effect as non-abelian anyons for fault-tolerant qubits in topological quantum computers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="container p-5 text-light" id="Employment">
        <div class="row">
            <div class="col">
                <h3 id="list-item-3">Employment</h3>

                <!-- Section Content start -->
                <div class="row">
                    <div class="col">
                        <strong>Royal Institute of Chartered Surveyors</strong>
                        <br>
                        <p>
                            Full-Stack .NET Developer
                        </p>
                        <p>
                            April 2018 - Present
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">

                        <div class="row">
                            <div class="col">
                                <p>
                                    The Royal Institution of Chartered Surveyors (RICS) is a professional body that promotes and enforces international standards in development, management, and valuation of land, construction and infrastructure. RICS effects positive change in the built and natural environments.
                                </p>
                                <p>
                                    My work at RICS has touched upon a vast array of different projects, from supporting vital legacy systems to building new applications and procedures.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Content end -->

                <hr>

                <div class="row">
                    <div class="col">
                        <strong>Electrika</strong>
                        <br>
                        <p>.NET Developer</p>
                        <p>December 2013 - April 2018</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <p>My position at Electrika was originally to automate various administrative tasks related to the business. I developed numerous ASP.NET web applications that fully automated otherwise pretty time-consuming manual processes. </p>
                        <p>So that I didn't automate myself out of a job, I expanded my role to develop a novel new hierarchical database structure and developed a large scale content creation using AngularJS and an API to allow others to consume our data.</p>
                        <p>My responsibilities and experiences in this position included: </p>
                        <ul>
                            <li>Maintaining a large legacy ASP.NET Web Forms codebase and implement new features and bug fixes</li>
                            <li>
                                Designing a node-based database structure for storing catalogue data and writing back-end C# code
                                with EntityFramework and SignalR to recursively navigate and manipulate the data structure
                            </li>
                            <li>
                                Developed Web APIs to serve data to external companies, currently in use to power the websites of
                                several large global electrical manufacturers, such as Legrand, Unitrunk, Kosnic Lighting, Ansell
                                Lighting, and Schneider Electric
                            </li>
                            <li>
                                Developing an internal ASP.Net Web Forms application to automatically generate a series of
                                marketing reports, collating data from SQL database and Google Analytics API
                            </li>
                            <li>
                                Training and mentoring junior developers and summer students
                            </li>
                            <li>
                                Set up and maintained all company social media accounts
                            </li>
                        </ul>
                    </div>


                </div>


                <hr>

                <div class="row">
                    <div class="col">
                        <strong>Xerox LTD</strong>
                        <br>
                        <p>Xerographic Engineer (Fuser Module)</p>
                        <p>July 2006 - October 2006, July 2005 - October 2005</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <p>I spent two summers working as part of the engineering team at Xerox.</p>
                        <ul>
                            <li>Involved in an emergency task force to solve critical problem involving a new set of toner</li>
                            <li>Analysed faults using Failure Mode and Effects Analysis to prioritise problem solving</li>
                            <li>Used statistical techniques such as regression and correlation analysis</li>
                        </ul>

                    </div>
                </div>
            </div>


            <div class="col-md-1"></div>
        </div>
    </div>


    <div class="parallax parallax-valaam">
    </div>

    <div class="container-fluid p-5 text-light ma-section-lighter" id="Volunteering">

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col">
                <h2>Volunteering</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col">
                <strong>Valaam Monastery, Russia</strong>
                <p>Labourer</p>
                <p>July 2007 - September 2007</p>

                <p>I spent a beautiful summer volunteering at the Valaam Monastery, located on a small island in the middle of Lake Lagoda. This is the largest lake in Europe, and being in the middle of it feels completely remote and isolated. </p>
                <p>The work involved mostly physical labour, such as chopping wood, moving hay and harvesting potatoes and beetroot. </p>

            </div>
            <div class="col-2 col-sm-6">
                <img class="img-fluid" src="/images/about/mortenvalaam.png"></img>
            </div>
        </div>
    </div>
}