@{
    ViewBag.Title = "About";
}



<div class="container">

    <div class="section-main">
        <h1>About me</h1>
        <div class="row">
            <div class="col-md-4">
                <h2>Back-End</h2>

                <p>I predominantly work with the .NET technology stack and I am always excited to see the changes in latest updates. My experience is with: </p>
                <div class="chart">
                    <div style="width: 100%;">.NET Framework 4.5</div>
                    <div style="width: 90%;">ASP.NET MVC 4.5</div>
                    <div style="width: 90%;">Entity Framework</div>                    
                    <div style="width: 80%;">SQL Server</div>
                    <div style="width: 80%;">SQL Azure</div>
                    <div style="width: 70%;">ASP.NET SignalR</div>
                    <div style="width: 70%;">ASP.NET Web API 2</div>
                    <div style="width: 50%;">ASP.NET WebForms</div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Front-End</h2>
                <p>The world of front-end development is such a fast-moving area, with new frameworks constantly emerging and evolving. I love working with front-end frameworks to create powerful and responsive client-side applications.</p>
                <div class="chart">
                    <div style="width:100%">HTML</div>
                    <div style="width:100%">CSS</div>
                    <div style="width:95%">Bootstrap</div>
                    <div style="width:90%">Javascript</div>
                    <div style="width:90%">JQuery</div>
                    <div style="width:80%">AngularJS</div>
                    <div style="width:80%">d3.js</div>
                    <div style="width:70%">Knockout</div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Tools</h2>
                <p>I enjoy working with the latest technologies, both for development and design</p>
                <div class="chart">
                    <div style="width:100%">Visual Studio 2012/2013/2015</div>
                    <div style="width:100%">Resharper</div>                    
                    <div style="width:95%">Adobe Photoshop</div>
                    <div style="width:90%">Adobe Illustrator</div>
                    <div style="width:90%">Adobe InDesign</div>
                    <div style="width:90%">LaTeX</div>
                    <div style="width:80%">Adobe Premier Pro</div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Education</h3>

                <div class="row">
                    <div class="col-md-4">
                        <strong>University of Manchester</strong>
                        <p>September 2009 - September 2013</p>
                    </div>
                    <div class="col-md-8">
                        <strong>PhD in Nanoscience</strong>
                        <br />
                        <em>Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters</em>
                        <br />
                        <p>
                            I have always had a keen interest in the future of computing at its most fundamental level. As computers become ever-smaller, the powerful our techology becomes. However, there is a fundamental limit to miniaturization - the limits of matter itself. At this limit, we must start to exploit quantum mechanics to perform computations.
                        </p>
                        <p>
                            During my PhD in the School of Chemistry, I had the opportunity to explore the magnetic properties of a series of large molecules and ascertain their potential applications for quantum computing. I performed spectroscopic studies on a series of compounds, ran detailed simulations to understand the relative magnetic properties of them, and was also involved in a project to build a custom cryostat to investigate such compounds at temperature scales below 1 Kelvin.
                        </p>
                        <hr />
                        <p> <em>Publications: </em></p>

                        <p>
                            Thesis submitted to the University of Manchester
                            <br />
                            <a href="https://www.escholar.manchester.ac.uk/uk-ac-man-scw:240407">Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters</a>
                        </p>

                        <p>



                            Journal of the American Chemical Society
                            <br />
                            <a href="http://pubs.acs.org/doi/abs/10.1021/ja5047445">A Detailed Study of the Magnetism of Chiral {Cr7M} Rings: An Investigation into Parametrization and Transferability of Parameters</a>
                        </p>
                        
                        <p><em>Links: </em></p>
                        
                        <a href="http://www.molmag.manchester.ac.uk/">The University of Manchester Molecular Magnetism Group</a>


                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-4">
                        <strong>University of Lancaster</strong>
                        <p>September 2005 - September 2009</p>
                    </div>
                    <div class="col-md-8">
                        <strong>MPhys, Theoretical Physics</strong>
                        <em>Upper Second-Class Honours (2:1)</em>
                        <br />
                        
                        <p>I have always had a keen interest in the mathematical underpinnings of reality, and so I was keen to study Theoretical Physics at Lancaster University.  </p>
                        <p>My masters project involved studying the braiding statistics of Abrikosov vortices in the 5/2 fractional quantum Hall effect as non-abelian anyons for fault-tolerant qubits in topological quantum computers.</p>
                        
                        <br />
                        <p><em>Links:</em></p>
                        
                        <a href="http://www.physics.lancs.ac.uk/">Lancaster University Physics Department</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>