@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="section-main">
        <h1>Contact</h1>
        
        <p>If you'd like to discuss more anything you see on this site, do get in touch! You can also contact me using social media.</p>
        
        <strong>E-mail</strong>
        <br />
        <a href="mailto:mortenalbring@gmail.com">mortenalbring@gmail.com</a>
        

    </div>
</div>