@{
    ViewBag.Title = "Morten Albring - Personal Homepage";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Morten Albring</h1>
            <h2>Software Developer</h2>
        </div>
    </div>
</div>