@{
    ViewBag.Title = "Morten Albring - Personal Homepage";
}

<div class="container">
    <div class="section-intro">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Morten Alexander Albring</h1>
                <h2>Software Developer</h2>
            </div>
        </div>
    </div>
    <hr />
    <div class="section-main">
        <div class="row">
            <div class="col-md-12">
                <h3>Education</h3>

                <div class="row">
                    <div class="col-md-4">
                        <strong>University of Manchester</strong>
                        <p>September 2009 - September 2013</p>
                    </div>
                    <div class="col-md-8">
                        <strong>PhD in Nanoscience</strong>
                        <br />
                        <em>Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters</em>
                        <br />
                        <p>
                            I have always had a keen interest in the future of computing at its most fundamental level. As computers become ever-smaller, the powerful our techology becomes. However, there is a fundamental limit to miniaturization - the limits of matter itself. At this limit, we must start to exploit quantum mechanics to perform computations.
                        </p>
                        <p>
                            During my PhD in the School of Chemistry, I had the opportunity to explore the magnetic properties of a series of large molecules and ascertain their potential applications for quantum computing. I performed spectroscopic studies on a series of compounds, ran detailed simulations to understand the relative magnetic properties of them, and was also involved in a project to build a custom cryostat to investigate such compounds at temperature scales below 1 Kelvin.
                        </p>
                        <hr />
                        <p> <em>Publications: </em></p>

                        <p>
                            Thesis submitted to the University of Manchester
                            <br />
                            <a href="https://www.escholar.manchester.ac.uk/uk-ac-man-scw:240407">Towards Quantum Information Processing with Cr<sup>3+</sup> based Heterometallic Clusters</a>
                        </p>
                        
                        <p>



                            Journal of the American Chemical Society
                            <br />
                            <a href="http://pubs.acs.org/doi/abs/10.1021/ja5047445">A Detailed Study of the Magnetism of Chiral {Cr7M} Rings: An Investigation into Parametrization and Transferability of Parameters</a>
                        </p>


                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-4">
                        <strong>University of Lancaster</strong>
                        <p>September 2005 - September 2009</p>
                    </div>
                    <div class="col-md-8">
                        <strong>MPhys, Theoretical Physics</strong>
                        <em>Upper Second-Class Honours (2:1)</em>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>