@{
    ViewBag.Title = "Morten Albring - Personal Homepage";
}

<div class="container-fluid container-intro section-intro">

    <div class="row row-centered">
        <div class="col-md-3 col-centered">
            <img class="center-block img-responsive" src="../../Content/images/me.png" alt="" />
        </div>
        <div class="col-md-6 col-centered">
            <h1>Morten <span class="hidden-xs">Alexander</span> Albring</h1>
            <div class="row row-centered">
                <div class="col-sm-3 col-md-3 col-centered">
                    <a title="Check out my projects on GitHub" href="https://github.com/mortenalbring"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-sm-3 col-md-3 col-centered">
                    <a title="Check out my YouTube channel for some mildly interesting mathematical simulations" href="https://www.youtube.com/channel/UCSBTzJEMrIAr5BUXF0P8GcQ">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-centered">
                    <a title="Follow me on Twitter for latest updates" href="https://twitter.com/mortenalbring">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-centered">
                    <a title="See my LinkedIn profile" href="https://uk.linkedin.com/pub/morten-albring/52/380/787">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
                <div class="row row-centered">
                    <div class="col-md-10 col-md-offset-1">
                        <p>Hello! I'm Morten. I'm a software developer with a passion for data visualisation. I have a keen interest in the latest developments in web frameworks and building powerful web applications. </p>
                        <p>I have a background in Theoretical Physics and I have a particular interest in Quantum Computing.</p>
                        <p>
                            <button class="btn btn-block btn-primary" href="@Url.Action("About", "Home")">More about me</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container section-description">   
    <div class="row">
        <div class="col-md-4">
            <h2>
                <i class="fa fa-fw fa-database"></i> Back-end
            </h2>
            <p>
                My bread and butter is <strong>ASP.NET MVC 5</strong> with <strong>Entity Framework</strong> and <strong>SQL</strong>. I am confident in creating database-driven web applications, writing web APIs and CRUD applications. I also have some experience with PHP and MongoDB.
            </p>

        </div>
        <div class="col-md-4">
            <h2>
                <i class="fa fa-fw fa-desktop"></i> Front-end
            </h2>
            <p>
                I am very familiar writing clean, maintainable and responsive <strong>HTML5</strong> and <strong>CSS3</strong>.
                Since then, I have become adept with <strong>Javascript</strong>, <strong>JQuery</strong> and a host of front-end frameworks. Currently I <em>love</em> working with <strong>AngularJS</strong> to create powerful front-end driven web applications.
            </p>

        </div>
        <div class="col-md-4">
            <h2>
                <i class="fa fa-fw fa-graduation-cap"></i> Physics and mathematics
            </h2>
            <p>
                I studied for an masters degree in Theoretical Physics and a PhD in nanoscience.
                I enjoy keeping up to date with the latest developments in science.
                I occassionally write posts about fundamental aspects of Physics and simulations of mathematical structures.
            </p>

        </div>
    </div>
</div>

<div class="container section-posts">
    <div class="row">
        <div class="col-md-4">
            <div class="container-post">
                <a href="@Url.Action("ComputationsIrreversibility", "Posts")">

                    <img class="img-responsive" src="/Images/demon-sm-trans.png" />
                    <h1>Thermodynamics, Computation and Irreversibility</h1>
                    <p>This is a brief exploration into the link between thermodynamics, the limits of computation and logical irreversibility.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-post">
                <a href="@Url.Action("LorenzAttractor", "Posts")">

                    <img class="img-responsive" src="/Images/LorenzAttractor_sm-trans.png" />
                    <h1>Lorenz Attractor</h1>
                    <p>The Lorenz attractor is a chaotic system that arises out of three simple differential equations. This shows the POV-Ray code necessary to simulate this system. </p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-post">
                <a href="@Url.Action("MengerSponge", "Posts")">

                    <img class="img-responsive" src="~/Images/Menger_sm.png" />
                    <h1>Menger Sponge</h1>
                    <p>The Lorenz attractor is a chaotic system that arises out of three simple differential equations. This shows the POV-Ray code necessary to simulate this system. </p>
                </a>
            </div>
        </div>
    </div>
</div>


