@{
    ViewBag.Title = "Redesign";
}
<div class="container">
    <div class="col-md-12">

        <h1>Redesign in progress</h1>

        <h2>
            Come back soon, or <a href="@Url.Action("Contact", "Home")">contact me</a> for any enquiries
        </h2>
    </div>
</div>