.nav-topbar-header {
    background: #ffffff;
    color: #ccc;
}
.topbar {
    background: #ffffff;
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
    
}
.topbar img {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
    max-height: 20px;
}


.nav-topbar li > a:visited {
        background: #2980b9;
    color: #000;  
}

.nav-topbar li > a:hover, .nav-topbar li > a:active {
    background: #3591cd;
    color: #fff;
}


.nav-topbar > li > a > i,
.nav-topbar .dropdown-menu  > li > a > i,
.nav-topbar .dropdown-menu > li > form > a > i
 {
    margin-right: 5px;
    font-size: small;    
    padding: 4px;
    width: 22px;    
    border-radius: 3px;
    background: #3591cd;
    color: #fff;
}

.nav-topbar > li > a,
.nav-topbar .dropdown-menu  > li > a,
.nav-topbar .dropdown-menu > li > form > a {    
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  color: #000;    
    border-radius: 4px;
    border-right: 1px solid;
    border-right-color: #ccc;   
}

.nav-topbar .dropdown-menu > li > a,
.nav-topbar .dropdown-menu > li > form > a{
    padding-top: 5px;
    padding-bottom: 5px;
}


.nav-topbar .open > a, .nav-topbar .open > a:hover, .nav-topbar .open > a:focus
  {    
    background:#0b74b9
}

.nav-topbar .dropdown-menu,
.nav-topbar .dropdown-menu li > a:visited {
    background: #418abc;
    color: #000;  
}

.home-content {
    padding-top: 40px;
}

.section-intro {
    padding-top: 100px;
    height: 500px;    
}

.section-intro h1 {
    font-weight: 800;
}

.section-intro h2 {
    font-weight: 200;
}
.section-main {
    margin-top: 40px;
    height: 500px;
}


h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
}

.spacer {
    height:20px;
}