/* Screen size variables */
/*======================*/
/* Screen size variables */
/*======================*/
.ma-responsive-table {
  width: 100%; }
  .ma-responsive-table tbody td {
    padding-right: 5px; }
  .ma-responsive-table thead th {
    white-space: nowrap; }
  .ma-responsive-table .no-break {
    white-space: nowrap; }

@media only screen and (max-width: 768px) {
  .ma-responsive-table {
    border: 0; }
    .ma-responsive-table .no-break {
      white-space: normal; }
    .ma-responsive-table thead {
      display: none; }
    .ma-responsive-table td {
      display: block; }
      .ma-responsive-table td:before {
        content: attr(data-label);
        float: left;
        margin-right: 2em;
        width: 100%;
        font-weight: 600;
        font-size: 13px;
        color: #2c343f; }
    .ma-responsive-table tr {
      display: block; }
    .ma-responsive-table tr:not(:first-child) {
      padding-top: 15px; } }