<div ng-if="loading">Loading data...</div>

<p>
    {{sessions.length}} Sessions
</p>
<p>
    Games - {{games.length}}
</p>
<p>
    Scores - {{playerscores.length}}    
</p>





<table class="table table-bordered table-striped" ng-repeat="session in sessions">
    <thead>
    <tr>
        <th>
            {{session.Date | date: 'yyyy-MM-dd'}}
        </th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="game in session.Games">
        <td>
            <span>Game {{game.GameNumber}} on lane {{game.Lane}}</span>

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Score string
                        </th>
                        <th>
                            Score
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="score in game.Scores">
                        <td>
                            {{score.Player}}
                        </td>
                        <td>
                            <a href="#player/{{score.Player}}">{{score.Name}}</a> 
                        </td>
                        <td>
                            {{score.Scorestring}}
                        </td>
                        <td>
                            {{score.Score}}
                        </td>


                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
    

    </tbody>

    


</table>
