

<div class="amenhokit-container">
    <div ng-if="!loading">
        <dr-player-list players="players" selected-player="selectedPlayer"></dr-player-list>      
    </div>
    <div ng-if="!loading">       
        <h1>
            {{selectedPlayer.Name | titlecase}}
        </h1>

        <div>
            <span>{{selectedPlayerScores.length}} scores recorded</span>
            <br/>
            <span>Highest score on record is {{highestgame.Score}}, on {{highestgame.Date  | amDateFormat: 'dddd, MMMM Do YYYY'}}.</span>
            <br/>
            <span>Average score is {{averageScore}}</span>
        </div>

        <div dr-graph chart-data="chartData"></div>

        <h2>Scores by lane</h2>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr>
                <th>Lane</th>
                <th>Times played on</th>
                <th>Average score for lane</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lanescore in lanestotals | orderBy:'-Average'">
                <td>
                    {{lanescore.Lane}}
                </td>
                <td>
                    {{lanescore.Count}}
                </td>
                <td>
                    {{lanescore.Average}}
                </td>
            </tr>
            </tbody>
        </table>

        <h2>All Scores</h2>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Lane</th>
                <th>Game Number</th>
                <th>Score string</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="selectedPlayerScore in selectedPlayerScores">
                <td>
                    <a href="#/session/{{selectedPlayerScore.Session}}">

                        <span title="{{selectedPlayerScore.Date | amDateFormat: 'dddd, MMMM Do YYYY' }}">{{selectedPlayerScore.Date | amCalendar}}</span>
                    </a>
                                        
                </td>
                
                <td>
                    {{selectedPlayerScore.Lane}}
                </td>                
                <td>
                    {{selectedPlayerScore.GameNumber}}
                </td>
                <td>
                    {{selectedPlayerScore.Scorestring}}
                </td>
                <td>
                    {{selectedPlayerScore.Score}}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div ng-if="loading">Loading data.. <i class="fa fa-spin fa-spinner"></i> </div>
</div>