<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Manual Entry</h1>

            <br />

            <input class="form-control" placeholder="Score string" ng-model="manualScoreString" ng-change="calculateScore(manualScoreString)" />

            <table>
                <thead>
                <tr>
                    <th>
                        Frame
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Score
                    </th>
                    <th>
                        Cumulative
                    </th>
                </tr>
                </thead>
                <tr ng-repeat="frame in scoreStringCalculated">
                    <td>
                        {{frame.Frame}}
                    </td>
                    <td>
                        {{frame.Result}}
                    </td>
                    <td>
                        {{frame.Score}}
                    </td>
                    <td>
                        {{frame.Cumulative}}
                    </td>
                </tr>
            </table>

            <br />
            {{output}}
            
        </div>
    </div>
</div>

