<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Manual Data Entry</h1>

            <div class="row" style="padding-top: 10px;padding-bottom: 10px">
                <div class="col-md-3">
                    <strong>Date (yyyy-mm-dd) </strong>
                    <br />
                    <input ng-model="gameDate" class="form-control"/>
                    <br/>
                    ({{gameDate | date:"fullDate"}})
                </div>
                <div class="col-md-3">
                    <strong>Game:</strong>
                    <br/>
                    <div class="btn-group">
                        <button class="btn btn-default" ng-repeat="num in gameNumbers" ng-class="{'btn-success' : num == activeGame}" ng-click="setActiveGame(num)">
                            {{num}}
                        </button>

                    </div>

                </div>
                <div class="col-md-3">
                    <strong>Lane:</strong>
                    <input class="form-control" ng-model="laneNumber"/>
                </div>
                <div class="col-md-3">
                    <strong>Select Player</strong>
                    <br/>
                    <select class="form-control" ng-model="activePlayer" ng-options="player.Name for player in players"></select>
               
                </div>
            </div>
            <div class="row">             
                <div class="col-md-12">
                    <p>
                        <strong>Enter Score String</strong>
                        <br />
                        <span>An expected score string is of the form: </span>
                        <br />

                        <div class="btn btn-default btn-sm" ng-click="manualScoreString = exampleString;calculateScore(manualScoreString)">
                            {{exampleString}}
                        </div>
                        <br />
                        <span>where a strike is indicated by <strong>X</strong>, a spare is indicated by <strong>/</strong> (forward slash)</span> and a gutterball is indicated by a <strong>-</strong>.
                        <br />
                        <span>As you type, I'll calculate the score and you can double check against the score sheet.</span>
                    </p>


                    <input class="form-control" placeholder="Score string" ng-model="manualScoreString" ng-change="calculateScore(manualScoreString)" />

                    <br />

                    <div class="alert alert-info" ng-if="activePlayer">
                        Game {{activeGame}} - {{activePlayer.Name | titlecase}}
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Frame
                                </th>
                                <th>
                                    Result
                                </th>
                                <th>
                                    Score
                                </th>
                                <th>
                                    Cumulative
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="frame in scoreStringCalculated">
                            <td>
                                {{frame.Frame}}
                            </td>
                            <td>
                                {{frame.Result}}
                            </td>
                            <td>
                                {{frame.Score}}
                            </td>
                            <td>
                                {{frame.Cumulative}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-if="errors.length > 0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Validation
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="error in errors" class="alert alert-warning">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn btn-block btn-primary" ng-click="saveScore()" ng-disabled="errors.length > 0 || !activePlayer">Save score</div>
                </div>
            </div>


            <br />


        </div>
    </div>
</div>

