@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "";
}

@section Scripts
{

}

@section Jumbo
{
    <div class="parallax parallax-lorenz">
        <div class="parallax-title">
            <span>

            </span>
        </div>
    </div>
}

@section Content {
    <div class="container text-light">
        <div class="row">

        </div>
    </div>
}