@{
    
}


@section Scripts
{
    <script src="/lib/d3/dist/d3.js"></script>
    <script src="/words/wordsGeneral.js"></script>
    
    <script src="/words/searchWordsv2.js"></script>
    
    
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
}


@section Content
{ 
<div>
    

    <div class="row">
        <div class="col-12">
            <div class="row g-3">
                <div class="col-auto">
                    <input class="form-control" id="btnSearchInput" placeholder="word">
                </div>
                <div class="col-auto">
                    <button id="btnSearchWord" class="btn btn-primary mb-3">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <svg id="searchWordsSvg"
                 group="1"
                 maxgroup="9"
                 width="1050"
                 height="600"
                 linkdistance="40"
                 attractforcestrength="20"
                 attractforcedistancemin="10"
                 attractforcedistancemax="30"
                 repelforcestrength="-45"
                 repelforcedistancemin="0"
                 repelforcedistancemax="10"
                 charge="-9"
                 json="EnglishSowpodsdeepwordchain.json">
            </svg>

        </div>
    </div>

</div>
}

