@{
    
}


@section Scripts
{
    <script src="/lib/d3/dist/d3.js"></script>
    <script src="/words/wordsGeneral.js"></script>
    
    <script src="/words/searchWordsv2.js"></script>
    
    
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
}


@section Content
{ 
    <div>
        @Html.Partial("WordSearchPartial")


    </div>
}

