
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Projects/AmenhokitApp/amenhokit.css" rel="stylesheet" />
<script src="~/Projects/AmenhokitApp/amenhokitApp.js"></script>

<div class="content">


    <div ng-app="amenhokit">
        <div ng-view></div>
    </div>

</div>