@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Projects/AmenhokitApp/amenhokit.css" rel="stylesheet"/>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/amenhokit")
}


<div class="content">


    <div ng-app="amenhokit">
        <div ng-view autoscroll="true"></div>
    </div>

</div>