
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Projects/AmenhokitApp/amenhokit.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/amenhokit")
}


<div class="content">


    <div ng-app="NewAmenhokit">
        <div ui-view></div>
    </div>

</div>