
@{
    ViewBag.Title = "ProjectPennyGame";
}


@section Scripts {
    @Scripts.Render("~/bundles/angular")

<script src="~/Projects/PennyGame/PennyGame.js"></script>    
}

<style>
    .highlighted {
        background-color:yellow;
    }
</style>


<h2>ProjectPennyGame</h2>

<div ng-app="PennyGame">
    <div ng-controller="HomeController">        
        <button class="btn btn-default" ng-disabled="winner" ng-click="flipCoin(1)">Flip</button>
        <button class="btn btn-default" ng-disabled="winner" ng-click="flipCoin(10)">Flip 10 times</button>
        <button class="btn btn-default" ng-disabled="!winner" ng-click="reset()">Reset</button>
        <button class="btn btn-default" ng-click="playGames(10,20)">Play 10 games</button>
        <button class="btn btn-default" ng-click="playGames(100)">Play 100 games</button>
        <button class="btn btn-default" ng-click="playGames(1000,10)">Play 1000 games</button>
        <button class="btn btn-default" ng-click="goFaster()">Faster [{{gameSpeed}}]</button>
        <button class="btn btn-default" ng-click="goSlower()">Slower [{{gameSpeed}}]</button>
        <div>
            <span>
                Your choice:              
            </span>
            <div>
                <strong>Coin 1</strong>
                <div class="btn btn-group">
                    <div class="btn btn-default" ng-click="inputOne = 'H'">
                        H
                    </div>
                    <div class="btn btn-default" ng-click="inputOne = 'T'">
                        T
                    </div>
                </div>
            </div>
            <div>
                <strong>Coin 2</strong>
                <div class="btn btn-group">
                    <div class="btn btn-default" ng-click="inputTwo = 'H'">
                        H
                    </div>
                    <div class="btn btn-default" ng-click="inputTwo = 'T'">
                        T
                    </div>
                </div>
            </div>
            <div>
                <strong>Coin 3</strong>
                <div class="btn btn-group">
                    <div class="btn btn-default" ng-click="inputThree = 'H'">
                        H
                    </div>
                    <div class="btn btn-default" ng-click="inputThree = 'T'">
                        T
                    </div>
                </div>
            </div>            
        </div>
        <div>
            <span>
                Penny choice: 
            </span>
            <span ng-repeat="inp in pennyInput track by $index">
                {{inp}}
            </span>
            
        </div>
        <div>
            <span>Game : {{gameNumber}} </span>
        </div>
        <div>
            <span>Penny wins: {{pennyWins}}</span>
            <span>Your wins: {{userWins}}</span>
        </div>

        <div> 
            <div ng-style="{width: ((pennyWins/(maxGames+1))*500) + 'px' }" style="height:30px;background-color:red;">

            </div>
            <div ng-style="{width: ((userWins/(maxGames+1))*500) + 'px' }" style="height:30px;background-color:blue;">

            </div>
            <span>
                {{(pennyWins / (maxGames+1)) | number : 2}}
            </span>
        </div>

        

        <span>{{result}}</span>
        <div>
            <span ng-repeat="result in results track by $index">
                {{result}}
            </span>
        </div>

        <div>
            <span>
                Heads: {{totalHeads}}
            </span>

            <span>
             Percentage: {{(totalHeads / (totalHeads + totalTails)) | number : 2}}
            </span>
        </div>

        <div>
            <span>
                Tails: {{totalTails}}
            </span>

            <span>
                Percentage: {{(totalTails / (totalHeads + totalTails)) | number : 2}}
            </span>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Result</th>
                        <th>Winner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="h in history | orderBy: '-game' | limitTo:50">
                        <td>
                            {{h.game}}
                        </td>
                        <td>
                            
                            <span ng-bind-html="h.result | highlight:h.winnerInput"></span>

                        </td>
                        <td>
                            {{h.winner}}                            
                            
                        </td>
                        <td>
                            {{h.winnerInput}}
                        </td>
                    </tr>
                </tbody>

            </table>
            
        </div>

    </div>
</div>