
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Projects/AmenhokitApp/amenhokitApp.js"></script>
<h1>Amenhokit</h1>
<div ng-app="amenhokit">
    <div ng-controller="HomeController">
        {{test}}
    </div>
</div>

