
@{
    ViewBag.Title = "ProjectPennyGame";
}


@section Scripts {
    @Scripts.Render("~/bundles/angular")

<script src="~/Projects/PennyGame/PennyGame.js"></script>    
}




<h2>ProjectPennyGame</h2>

<div ng-app="PennyGame">
    <div ng-controller="HomeController">        
        <button class="btn btn-default" ng-disabled="winner" ng-click="flipCoin(1)">Flip</button>
        <button class="btn btn-default" ng-disabled="winner" ng-click="flipCoin(10)">Flip 10 times</button>
        <button class="btn btn-default" ng-disabled="!winner" ng-click="reset()">Reset</button>
        <button class="btn btn-default" ng-click="playGames(10)">Play 10 games</button>
        <button class="btn btn-default" ng-click="playGames(100)">Play 100 games</button>
        <button class="btn btn-default" ng-click="playGames(1000)">Play 1000 games</button>
        <button class="btn btn-default" ng-click="goFaster()">Faster [{{gameSpeed}}]</button>
        <button class="btn btn-default" ng-click="goSlower()">Slower [{{gameSpeed}}]</button>
        <div>
            <span>
                Your choice:              
            </span>
            <span ng-repeat="inp in input track by $index">
                {{inp}}
            </span>
        </div>
        <div>
            <span>
                Penny choice: 
            </span>
            <span ng-repeat="inp in pennyInput track by $index">
                {{inp}}
            </span>
            
        </div>
        <div>
            <span>Game : {{gameNumber}} </span>
        </div>
        <div>
            <span>Penny wins: {{pennyWins}}</span>
            <span>Your wins: {{userWins}}</span>
        </div>

        <div> 
            <div ng-style="{width: ((pennyWins/(maxGames+1))*500) + 'px' }" style="height:30px;background-color:red;">

            </div>
            <div ng-style="{width: ((userWins/(maxGames+1))*500) + 'px' }" style="height:30px;background-color:blue;">

            </div>
            <span>
                {{(pennyWins / (maxGames+1)) | number : 2}}
            </span>
        </div>

        

        <span>{{result}}</span>
        <div>
            <span ng-repeat="result in results track by $index">
                {{result}}
            </span>
        </div>

        <div>
            <span>
                Heads: {{totalHeads}}
            </span>

            <span>
             Percentage: {{(totalHeads / (totalHeads + totalTails)) | number : 2}}
            </span>
        </div>

        <div>
            <span>
                Tails: {{totalTails}}
            </span>

            <span>
                Percentage: {{(totalTails / (totalHeads + totalTails)) | number : 2}}
            </span>
        </div>

        <div>
            
        </div>

    </div>
</div>