
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Projects/AmenhokitApp/amenhokit.css" rel="stylesheet" />
@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/newamenhokit")
}

@Styles.Render("~/bundles/newamenhokitstyles")

<br/>
<br/>
<br/>
<a href="@Url.Action("ProjectAmenhokitOld")">Old</a>
<br/>
<br/>
<a href="/Projects/ProjectAmenhokitOld#manualentry">Data entry</a>

<div class="content">


    <div ng-app="NewAmenhokit">
        <div ui-view></div>
    </div>

</div>