<html>
<head>
    <title>Angular Clicker</title>
    <link rel="stylesheet" href="AngularClicker.css" type="text/css" />
</head>

<body>
    <h1>Angular Clicker</h1>

    <div ng-app="AngularClicker">
        <div ng-controller="HomeController">
            <div ng-hide="started">
                What is your name?
                <input ng-model="Player.Name" />
                <button ng-click="initialise()">
                    Start
                </button>
            </div>
            <div ng-show="started" class="gamecontainer">


                <div class="playerContainer">
                    <div class="player">
                        {{Player.Name}}
                        <br/>
                        <div player-face pstatus="Player.Status"></div>
                        
                        XP - {{Player.XP}}
                        <br />

                        Gold - {{Player.Gold}}
                        <br />
                        Attack - {{Player.AttackDamage}}
                        <br />

                        AutoAttack - {{Player.AutoAttackDamage}}
                    </div>
                    <div class="shop">
                        <div ng-repeat="item in Shop">
                            <button ng-click="item.RunFunction()" ng-disabled="item.Cost > Player.Gold">
                                [{{item.Cost}} G] {{item.Title}}
                            </button>
                        </div>
                    </div>
                </div>


                <h2>Enemies</h2>
                <div class="enemycontainer">

                    <div ng-repeat="enemy in Enemies" class="enemy" ng-click="manualAttack(enemy.ID)">



                        <div ng-if="enemy.Alive" enemy-mouse
                             ng-class="{
                             'health-full' : (enemy.Health == enemy.MaxHealth),
                             'health-injured' : ((enemy.Health < enemy.MaxHealth) && ((enemy.Health / enemy.MaxHealth) >= 0.5)),
                             'health-dying' : ((enemy.Health < enemy.MaxHealth) && ((enemy.Health / enemy.MaxHealth) < 0.5))
                              }"></div>
                        <div class="dead" ng-if="!enemy.Alive" dead-mouse></div>
                    </div>

                </div>


                <div ng-repeat="message in MessageLog.slice().reverse() | limitTo:10 track by $index ">
                    {{message}}
                </div>
            </div>
        </div>
    </div>

<pre>
   )
   (
 ()-()
_(o o)_  
 /\o/\
</pre>

    <script src="angular.min.js"></script>
    <script src="AngularClicker.js"></script>

</body>

</html>